In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Reload all modules imported with %aimport
%load_ext autoreload
%autoreload 1

In [2]:
import trans.datastore.odo as odb
%aimport trans.datastore.odo

import datetime as dt
import dateutil.parser as dup

In [3]:
create = False

## Create a Yahoo data provider to retrieve data from Yahoo

In [4]:
import trans.dataprovider.PDR.yahoo as yh
yh_dp = yh.Yahoo()

## Create a Tiingo data provider

In [5]:
import trans.dataprovider.PDR.tiingo as tg
%aimport trans.dataprovider.PDR.tiingo

tingo_ak_file="/home/ubuntu/Notebooks/tiingo_apkey.txt"
with open(tingo_ak_file, "r") as fp:
    ak_t = fp.read().rstrip()
    
tg_dp = tg.Tiingo(access_key=ak_t)

In [19]:
dburl = 'sqlite:////tmp/foo.db'
db = odb.ODO(dburl, provider=tg_dp, echo=True)

In [20]:
db.setup_database()

2018-04-16 18:45:57,047 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-04-16 18:45:57,048 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 18:45:57,050 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-04-16 18:45:57,059 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 18:45:57,060 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("prices")
2018-04-16 18:45:57,060 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 18:45:57,062 INFO sqlalchemy.engine.base.Engine
DROP TABLE prices
2018-04-16 18:45:57,063 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 18:45:57,067 INFO sqlalchemy.engine.base.Engine COMMIT
2018-04-16 18:45:57,068 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("prices")
2018-04-16 18:45:57,069 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 18:45:57,071 INFO sqlalchemy.engine.base.Engine
CREATE TABLE prices (
	"Ticker" VARCHAR(255) NOT NULL,
	"Date" DATE NOT NULL,
	"AdjClose" FLOAT,
	"Close" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Open" FLOAT,
	"Volume" FLOAT,
	"DivCash" FLOAT,
	PRIMARY KEY ("Ticker", "Date")
)


2018-04-16 18:45:57,072 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 18:45:57,076 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
if create:
    db.setup_database()

2018-04-16 18:46:05,629 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("prices")
2018-04-16 18:46:05,630 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 18:46:05,631 INFO sqlalchemy.engine.base.Engine
DROP TABLE prices
2018-04-16 18:46:05,632 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 18:46:05,636 INFO sqlalchemy.engine.base.Engine COMMIT
2018-04-16 18:46:05,638 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("prices")
2018-04-16 18:46:05,639 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 18:46:05,641 INFO sqlalchemy.engine.base.Engine
CREATE TABLE prices (
	"Ticker" VARCHAR(255) NOT NULL,
	"Date" DATE NOT NULL,
	"AdjClose" FLOAT,
	"Close" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Open" FLOAT,
	"Volume" FLOAT,
	"DivCash" FLOAT,
	PRIMARY KEY ("Ticker", "Date")
)


2018-04-16 18:46:05,642 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 18:46:05,652 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
Memorialize = False

In [10]:
today = dt.datetime.combine( dt.date.today(), dt.time.min)
if Memorialize:
    today = dup.parse("03/09/2018")
    
start = dup.parse("01/01/2018")
end   = today

status, df_go = db.get_one("AAPL", start, end)

## Create a small load

In [23]:
%aimport trans.dataprovider.PDR.tiingo
import trans.dataprovider.PDR.tiingo
tickers = [ "FB", "AAPL", "AMZN", "NFLX", "GOOG"]
changed_tickers = db.get_data(tickers, start, end)

2018-04-16 18:46:52,758 INFO sqlalchemy.engine.base.Engine SELECT prices."Ticker" AS "prices_Ticker", prices."Date" AS "prices_Date", prices."AdjClose" AS "prices_AdjClose", prices."Close" AS "prices_Close", prices."High" AS "prices_High", prices."Low" AS "prices_Low", prices."Open" AS "prices_Open", prices."Volume" AS "prices_Volume", prices."DivCash" AS "prices_DivCash", min(prices."Date") AS min_date, max(prices."Date") AS max_date
FROM prices GROUP BY prices."Ticker"
2018-04-16 18:46:52,763 INFO sqlalchemy.engine.base.Engine ()
Creating FB from 2018-01-01 00:00:00 to 2018-04-16 00:00:00
2018-04-16 18:46:53,233 INFO sqlalchemy.engine.base.Engine SELECT prices."Ticker" AS "prices_Ticker", prices."Date" AS "prices_Date"
FROM prices
WHERE prices."Ticker" = ? AND prices."Date" >= ? AND prices."Date" <= ?
2018-04-16 18:46:53,234 INFO sqlalchemy.engine.base.Engine ('FB', '2018-01-02', '2018-04-16')
2018-04-16 18:46:53,236 INFO sqlalchemy.engine.base.Engine DELETE FROM prices WHERE prices."Ticker" = ? AND prices."Date" >= ? AND prices."Date" <= ?
2018-04-16 18:46:53,237 INFO sqlalchemy.engine.base.Engine ('FB', '2018-01-02', '2018-04-16')
Ticker FB, Deleted 0 rows between 2018-01-02 00:00:00 and 2018-04-16 00:00:00
2018-04-16 18:46:53,268 INFO sqlalchemy.engine.base.Engine INSERT INTO prices ("Ticker", "Date", "AdjClose", "Close", "High", "Low", "Open", "Volume", "DivCash") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-04-16 18:46:53,270 INFO sqlalchemy.engine.base.Engine (('FB', '2018-01-02', 181.42, 181.42, 181.58, 177.55, 177.68, 17694891.0, 0.0), ('FB', '2018-01-03', 184.67, 184.67, 184.78, 181.33, 181.88, 16595495.0, 0.0), ('FB', '2018-01-04', 184.33, 184.33, 186.21, 184.0996, 184.9, 13554357.0, 0.0), ('FB', '2018-01-05', 186.85, 186.85, 186.9, 184.93, 185.59, 13042388.0, 0.0), ('FB', '2018-01-08', 188.28, 188.28, 188.9, 186.33, 187.2, 14719216.0, 0.0), ('FB', '2018-01-09', 187.87, 187.87, 188.8, 187.1, 188.7, 12342722.0, 0.0), ('FB', '2018-01-10', 187.84, 187.84, 187.89, 185.63, 186.94, 10464528.0, 0.0), ('FB', '2018-01-11', 187.77, 187.77, 188.4, 187.38, 188.4, 8855144.0, 0.0)  ... displaying 10 of 72 total bound parameter sets ...  ('FB', '2018-04-13', 164.52, 164.52, 165.7036, 163.77, 164.58, 19990561.0, 0.0), ('FB', '2018-04-16', 164.83, 164.83, 165.78, 163.39, 165.7249, 17915530.0, 0.0))
2018-04-16 18:46:53,274 INFO sqlalchemy.engine.base.Engine COMMIT
Creating AAPL from 2018-01-01 00:00:00 to 2018-04-16 00:00:00
2018-04-16 18:46:54,077 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-04-16 18:46:54,078 INFO sqlalchemy.engine.base.Engine SELECT prices."Ticker" AS "prices_Ticker", prices."Date" AS "prices_Date"
FROM prices
WHERE prices."Ticker" = ? AND prices."Date" >= ? AND prices."Date" <= ?
2018-04-16 18:46:54,079 INFO sqlalchemy.engine.base.Engine ('AAPL', '2018-01-02', '2018-04-16')
2018-04-16 18:46:54,086 INFO sqlalchemy.engine.base.Engine DELETE FROM prices WHERE prices."Ticker" = ? AND prices."Date" >= ? AND prices."Date" <= ?
2018-04-16 18:46:54,087 INFO sqlalchemy.engine.base.Engine ('AAPL', '2018-01-02', '2018-04-16')
Ticker AAPL, Deleted 0 rows between 2018-01-02 00:00:00 and 2018-04-16 00:00:00
2018-04-16 18:46:54,107 INFO sqlalchemy.engine.base.Engine INSERT INTO prices ("Ticker", "Date", "AdjClose", "Close", "High", "Low", "Open", "Volume", "DivCash") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-04-16 18:46:54,108 INFO sqlalchemy.engine.base.Engine (('AAPL', '2018-01-02', 171.5689416709, 172.26, 172.3, 169.26, 170.16, 25048048.0, 0.0), ('AAPL', '2018-01-03', 171.5390620224, 172.23, 174.55, 171.96, 172.53, 28819653.0, 0.0), ('AAPL', '2018-01-04', 172.335852649, 173.03, 173.47, 172.08, 172.54, 22211345.0, 0.0), ('AAPL', '2018-01-05', 174.297949567, 175.0, 175.37, 173.05, 173.44, 23016177.0, 0.0), ('AAPL', '2018-01-08', 173.6505571829, 174.35, 175.61, 173.93, 174.35, 20134092.0, 0.0), ('AAPL', '2018-01-09', 173.6306374172, 174.33, 175.06, 173.41, 174.55, 21262614.0, 0.0), ('AAPL', '2018-01-10', 173.5907978859, 174.29, 174.3, 173.0, 173.16, 23589129.0, 0.0), ('AAPL', '2018-01-11', 174.5768262863, 175.28, 175.4886, 174.49, 174.59, 17523256.0, 0.0)  ... displaying 10 of 72 total bound parameter sets ...  ('AAPL', '2018-04-13', 174.73, 174.73, 175.84, 173.85, 174.78, 25124255.0, 0.0), ('AAPL', '2018-04-16', 175.82, 175.82, 176.19, 174.8301, 175.0301, 21546084.0, 0.0))
2018-04-16 18:46:54,111 INFO sqlalchemy.engine.base.Engine COMMIT
Creating AMZN from 2018-01-01 00:00:00 to 2018-04-16 00:00:00
2018-04-16 18:46:54,813 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-04-16 18:46:54,814 INFO sqlalchemy.engine.base.Engine SELECT prices."Ticker" AS "prices_Ticker", prices."Date" AS "prices_Date"
FROM prices
WHERE prices."Ticker" = ? AND prices."Date" >= ? AND prices."Date" <= ?
2018-04-16 18:46:54,816 INFO sqlalchemy.engine.base.Engine ('AMZN', '2018-01-02', '2018-04-16')
2018-04-16 18:46:54,823 INFO sqlalchemy.engine.base.Engine DELETE FROM prices WHERE prices."Ticker" = ? AND prices."Date" >= ? AND prices."Date" <= ?
2018-04-16 18:46:54,824 INFO sqlalchemy.engine.base.Engine ('AMZN', '2018-01-02', '2018-04-16')
Ticker AMZN, Deleted 0 rows between 2018-01-02 00:00:00 and 2018-04-16 00:00:00
2018-04-16 18:46:54,842 INFO sqlalchemy.engine.base.Engine INSERT INTO prices ("Ticker", "Date", "AdjClose", "Close", "High", "Low", "Open", "Volume", "DivCash") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-04-16 18:46:54,844 INFO sqlalchemy.engine.base.Engine (('AMZN', '2018-01-02', 1189.01, 1189.01, 1190.0, 1170.51, 1172.0, 2587899.0, 0.0), ('AMZN', '2018-01-03', 1204.2, 1204.2, 1205.49, 1188.3, 1188.3, 3044664.0, 0.0), ('AMZN', '2018-01-04', 1209.59, 1209.59, 1215.87, 1204.66, 1205.0, 3000366.0, 0.0), ('AMZN', '2018-01-05', 1229.14, 1229.14, 1229.14, 1210.0, 1217.51, 3430148.0, 0.0), ('AMZN', '2018-01-08', 1246.87, 1246.87, 1253.08, 1232.03, 1236.0, 4177533.0, 0.0), ('AMZN', '2018-01-09', 1252.7, 1252.7, 1259.33, 1241.76, 1256.9, 3646681.0, 0.0), ('AMZN', '2018-01-10', 1254.33, 1254.33, 1254.33, 1237.23, 1245.15, 2659507.0, 0.0), ('AMZN', '2018-01-11', 1276.68, 1276.68, 1276.77, 1256.46, 1259.74, 3075315.0, 0.0)  ... displaying 10 of 72 total bound parameter sets ...  ('AMZN', '2018-04-13', 1430.79, 1430.79, 1459.78, 1424.52, 1449.14, 3685267.0, 0.0), ('AMZN', '2018-04-16', 1441.5, 1441.5, 1447.0, 1427.48, 1445.0, 2773705.0, 0.0))
2018-04-16 18:46:54,849 INFO sqlalchemy.engine.base.Engine COMMIT
Creating NFLX from 2018-01-01 00:00:00 to 2018-04-16 00:00:00
2018-04-16 18:46:55,469 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-04-16 18:46:55,470 INFO sqlalchemy.engine.base.Engine SELECT prices."Ticker" AS "prices_Ticker", prices."Date" AS "prices_Date"
FROM prices
WHERE prices."Ticker" = ? AND prices."Date" >= ? AND prices."Date" <= ?
2018-04-16 18:46:55,473 INFO sqlalchemy.engine.base.Engine ('NFLX', '2018-01-02', '2018-04-16')
2018-04-16 18:46:55,475 INFO sqlalchemy.engine.base.Engine DELETE FROM prices WHERE prices."Ticker" = ? AND prices."Date" >= ? AND prices."Date" <= ?
2018-04-16 18:46:55,476 INFO sqlalchemy.engine.base.Engine ('NFLX', '2018-01-02', '2018-04-16')
Ticker NFLX, Deleted 0 rows between 2018-01-02 00:00:00 and 2018-04-16 00:00:00
2018-04-16 18:46:55,495 INFO sqlalchemy.engine.base.Engine INSERT INTO prices ("Ticker", "Date", "AdjClose", "Close", "High", "Low", "Open", "Volume", "DivCash") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-04-16 18:46:55,496 INFO sqlalchemy.engine.base.Engine (('NFLX', '2018-01-02', 201.07, 201.07, 201.65, 195.42, 196.1, 10854449.0, 0.0), ('NFLX', '2018-01-03', 205.05, 205.05, 206.21, 201.5, 202.05, 8526678.0, 0.0), ('NFLX', '2018-01-04', 205.63, 205.63, 207.05, 204.0006, 206.2, 5999150.0, 0.0), ('NFLX', '2018-01-05', 209.99, 209.99, 210.02, 205.59, 207.25, 6947850.0, 0.0), ('NFLX', '2018-01-08', 212.05, 212.05, 212.5, 208.44, 210.02, 5508816.0, 0.0), ('NFLX', '2018-01-09', 209.31, 209.31, 212.98, 208.59, 212.11, 5773129.0, 0.0), ('NFLX', '2018-01-10', 212.52, 212.52, 213.64, 206.91, 207.57, 5783171.0, 0.0), ('NFLX', '2018-01-11', 217.24, 217.24, 217.75, 213.35, 214.29, 6936990.0, 0.0)  ... displaying 10 of 72 total bound parameter sets ...  ('NFLX', '2018-04-13', 311.65, 311.65, 317.49, 308.23, 317.29, 12046573.0, 0.0), ('NFLX', '2018-04-16', 307.78, 307.78, 316.1, 304.0, 315.99, 19738417.0, 0.0))
2018-04-16 18:46:55,500 INFO sqlalchemy.engine.base.Engine COMMIT
Creating GOOG from 2018-01-01 00:00:00 to 2018-04-16 00:00:00
2018-04-16 18:46:56,041 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-04-16 18:46:56,043 INFO sqlalchemy.engine.base.Engine SELECT prices."Ticker" AS "prices_Ticker", prices."Date" AS "prices_Date"
FROM prices
WHERE prices."Ticker" = ? AND prices."Date" >= ? AND prices."Date" <= ?
2018-04-16 18:46:56,043 INFO sqlalchemy.engine.base.Engine ('GOOG', '2018-01-02', '2018-04-16')
2018-04-16 18:46:56,045 INFO sqlalchemy.engine.base.Engine DELETE FROM prices WHERE prices."Ticker" = ? AND prices."Date" >= ? AND prices."Date" <= ?
2018-04-16 18:46:56,051 INFO sqlalchemy.engine.base.Engine ('GOOG', '2018-01-02', '2018-04-16')
Ticker GOOG, Deleted 0 rows between 2018-01-02 00:00:00 and 2018-04-16 00:00:00
2018-04-16 18:46:56,069 INFO sqlalchemy.engine.base.Engine INSERT INTO prices ("Ticker", "Date", "AdjClose", "Close", "High", "Low", "Open", "Volume", "DivCash") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-04-16 18:46:56,070 INFO sqlalchemy.engine.base.Engine (('GOOG', '2018-01-02', 1065.0, 1065.0, 1066.94, 1045.23, 1048.34, 1223114.0, 0.0), ('GOOG', '2018-01-03', 1082.48, 1082.48, 1086.29, 1063.21, 1064.31, 1416093.0, 0.0), ('GOOG', '2018-01-04', 1086.4, 1086.4, 1093.57, 1084.0, 1088.0, 990510.0, 0.0), ('GOOG', '2018-01-05', 1102.23, 1102.23, 1104.25, 1092.0, 1094.0, 1210974.0, 0.0), ('GOOG', '2018-01-08', 1106.94, 1106.94, 1111.27, 1101.62, 1102.23, 1003098.0, 0.0), ('GOOG', '2018-01-09', 1106.26, 1106.26, 1110.57, 1101.23, 1109.4, 897400.0, 0.0), ('GOOG', '2018-01-10', 1102.61, 1102.61, 1104.6, 1096.11, 1097.1, 1038917.0, 0.0), ('GOOG', '2018-01-11', 1105.52, 1105.52, 1106.53, 1099.59, 1106.3, 962696.0, 0.0)  ... displaying 10 of 72 total bound parameter sets ...  ('GOOG', '2018-04-13', 1029.27, 1029.27, 1046.42, 1022.98, 1040.88, 1223017.0, 0.0), ('GOOG', '2018-04-16', 1037.98, 1037.98, 1043.24, 1026.74, 1037.0, 1194115.0, 0.0))
2018-04-16 18:46:56,074 INFO sqlalchemy.engine.base.Engine COMMIT

## Get info about existing table in db

In [12]:
from sqlalchemy import Table, MetaData
meta = MetaData()
p = Table("prices", meta, autoload=True, autoload_with=db.engine)

2018-04-16 15:25:58,425 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("prices")
2018-04-16 15:25:58,435 INFO sqlalchemy.engine.base.Engine ()
reflect
reflect
reflect
reflect
reflect
reflect
reflect
reflect
2018-04-16 15:25:58,440 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'prices' AND type = 'table'
2018-04-16 15:25:58,440 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 15:25:58,442 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("prices")
2018-04-16 15:25:58,443 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 15:25:58,444 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'prices' AND type = 'table'
2018-04-16 15:25:58,445 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 15:25:58,459 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("prices")
2018-04-16 15:25:58,460 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 15:25:58,461 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("prices")
2018-04-16 15:25:58,462 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 15:25:58,464 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_prices_1")
2018-04-16 15:25:58,464 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 15:25:58,465 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'prices' AND type = 'table'
2018-04-16 15:25:58,466 INFO sqlalchemy.engine.base.Engine ()

## Enumerate the columns

In [13]:
[ c.name for c in p.columns ]

['Ticker', 'Date', 'AdjClose', 'Close', 'High', 'Low', 'Open', 'Volume']

## On load, catch the events and name attributes based on physical table column names.
These attributes DON'T affect the table (or even create a view), they are just attributes of the Table object and control the name of it's attributes

In [9]:
from sqlalchemy import Table, event 
@event.listens_for(Table, "column_reflect")
def column_reflect(inspector, table, column_info):
    print("reflect")
    column_info["key"] = "test_{}".format(column_info["name"])

In [12]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float,create_engine, bindparam
from sqlalchemy.orm import Session

from sqlalchemy.sql import and_, or_, not_, func

from sqlalchemy import Table, MetaData
meta = MetaData()

Base = declarative_base()
class TestClass(Base):
    __table__ = Table("prices", meta, autoload=True, autoload_with=db.engine)

2018-04-16 15:30:10,287 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("prices")
2018-04-16 15:30:10,288 INFO sqlalchemy.engine.base.Engine ()
reflect
reflect
reflect
reflect
reflect
reflect
reflect
reflect
2018-04-16 15:30:10,293 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'prices' AND type = 'table'
2018-04-16 15:30:10,293 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 15:30:10,295 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("prices")
2018-04-16 15:30:10,296 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 15:30:10,297 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'prices' AND type = 'table'
2018-04-16 15:30:10,298 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 15:30:10,303 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("prices")
2018-04-16 15:30:10,304 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 15:30:10,305 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("prices")
2018-04-16 15:30:10,305 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 15:30:10,306 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_prices_1")
2018-04-16 15:30:10,307 INFO sqlalchemy.engine.base.Engine ()
2018-04-16 15:30:10,308 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'prices' AND type = 'table'
2018-04-16 15:30:10,309 INFO sqlalchemy.engine.base.Engine ()

In [31]:
import pandas as pd
sess = db.session
q = sess.query(TestClass, TestClass.test_Ticker, TestClass.test_Close).filter(TestClass.test_Ticker == "AAPL")
for r in q.all():
    (t, c) = r.test_Ticker, r.test_Close
    print("Read {} at close {}".format(t,c))
# df_tc = pd.read_sql(q.statement, sess.bind)

2018-04-16 16:34:09,048 INFO sqlalchemy.engine.base.Engine SELECT prices."Ticker" AS "prices_Ticker", prices."Date" AS "prices_Date", prices."AdjClose" AS "prices_AdjClose", prices."Close" AS "prices_Close", prices."High" AS "prices_High", prices."Low" AS "prices_Low", prices."Open" AS "prices_Open", prices."Volume" AS "prices_Volume"
FROM prices
WHERE prices."Ticker" = ?
2018-04-16 16:34:09,051 INFO sqlalchemy.engine.base.Engine ('AAPL',)
Read AAPL at close 172.259995
Read AAPL at close 172.229996
Read AAPL at close 173.029999
Read AAPL at close 175.0
Read AAPL at close 174.350006
Read AAPL at close 174.330002
Read AAPL at close 174.28999299999998
Read AAPL at close 175.279999
Read AAPL at close 177.08999599999999
Read AAPL at close 176.190002
Read AAPL at close 179.100006
Read AAPL at close 179.259995
Read AAPL at close 178.46000700000002
Read AAPL at close 177.0
Read AAPL at close 177.03999299999998
Read AAPL at close 174.220001
Read AAPL at close 171.110001
Read AAPL at close 171.509995
Read AAPL at close 167.96000700000002
Read AAPL at close 166.970001
Read AAPL at close 167.429993
Read AAPL at close 167.779999
Read AAPL at close 160.5
Read AAPL at close 156.490005
Read AAPL at close 163.029999
Read AAPL at close 159.53999299999998
Read AAPL at close 155.149994
Read AAPL at close 156.41000400000001
Read AAPL at close 162.71000700000002
Read AAPL at close 164.33999599999999
Read AAPL at close 167.369995
Read AAPL at close 172.990005
Read AAPL at close 172.429993
Read AAPL at close 171.850006
Read AAPL at close 171.070007
Read AAPL at close 172.5
Read AAPL at close 175.5
Read AAPL at close 178.970001
Read AAPL at close 178.389999
Read AAPL at close 178.119995
Read AAPL at close 175.0
Read AAPL at close 176.21000700000002
Read AAPL at close 176.820007
Read AAPL at close 176.669998
Read AAPL at close 175.029999
Read AAPL at close 176.940002
Read AAPL at close 179.979996
Read AAPL at close 181.720001
Read AAPL at close 179.970001
Read AAPL at close 178.440002
Read AAPL at close 178.649994
Read AAPL at close 178.020004
Read AAPL at close 175.300003
Read AAPL at close 175.240005
Read AAPL at close 171.270004
Read AAPL at close 168.850006
Read AAPL at close 164.940002
Read AAPL at close 172.770004
Read AAPL at close 168.33999599999999
Read AAPL at close 166.479996
Read AAPL at close 167.779999
Read AAPL at close 166.679993
Read AAPL at close 168.389999
Read AAPL at close 171.610001
Read AAPL at close 172.800003
Read AAPL at close 168.380005
Read AAPL at close 170.050003
Read AAPL at close 173.25
Read AAPL at close 172.440002
Read AAPL at close 174.139999
Read AAPL at close 174.729996
Read AAPL at close 175.625

In [18]:
df_tc.shape

(360, 8)

## Create a full load

In [25]:
%aimport trans.dataprovider.PDR.tiingo
import trans.dataprovider.PDR.tiingo

dburl = 'sqlite:////tmp/full.db'
idb = odb.ODO(dburl, provider=tg_dp)

idb.setup_database()

idb.existing()
from datetime import timedelta

today = dt.datetime.combine( dt.date.today(), dt.time.min)
start=dup.parse("01/01/2000")
end  = today

from trans.data import GetData
gd = GetData()
tickers = gd.existing()
tickers.sort()
print( len(tickers) )

In [27]:
changed = idb.get_data(tickers, start, end)

Already have up-to-date A.
Already have up-to-date AA.
Already have up-to-date AAL.
Already have up-to-date AAN.
Already have up-to-date AAP.
Already have up-to-date AAPL.
Already have up-to-date ABBV.
Already have up-to-date ABC.
Already have up-to-date ABMD.
Already have up-to-date ABT.
Already have up-to-date ACAD.
Already have up-to-date ACC.
Already have up-to-date ACGL.
Already have up-to-date ACHC.
Already have up-to-date ACIW.
Already have up-to-date ACM.
Already have up-to-date ACN.
Already have up-to-date ACXM.
Already have up-to-date ADBE.
Already have up-to-date ADI.
Already have up-to-date ADM.
Already have up-to-date ADP.
Already have up-to-date ADS.
Already have up-to-date ADSK.
Already have up-to-date AEE.
Already have up-to-date AEO.
Already have up-to-date AEP.
Already have up-to-date AES.
Already have up-to-date AET.
Already have up-to-date AFG.
Already have up-to-date AFL.
Already have up-to-date AFSI.
Already have up-to-date AGCO.
Already have up-to-date AGIO.
Already have up-to-date AGN.
Already have up-to-date AGNC.
Already have up-to-date AGO.
Already have up-to-date AGR.
Already have up-to-date AHL.
Already have up-to-date AIG.
Already have up-to-date AIV.
Already have up-to-date AIZ.
Already have up-to-date AJG.
Already have up-to-date AKAM.
Already have up-to-date AKRX.
Already have up-to-date AL.
Already have up-to-date ALB.
Already have up-to-date ALEX.
Already have up-to-date ALGN.
Already have up-to-date ALK.
Already have up-to-date ALKS.
Already have up-to-date ALL.
Already have up-to-date ALLE.
Already have up-to-date ALLY.
Already have up-to-date ALNY.
Already have up-to-date ALSN.
Already have up-to-date ALXN.
Already have up-to-date AMAT.
Already have up-to-date AMCX.
Already have up-to-date AMD.
Already have up-to-date AME.
Already have up-to-date AMG.
Already have up-to-date AMGN.
Already have up-to-date AMH.
Already have up-to-date AMP.
Already have up-to-date AMT.
Already have up-to-date AMTD.
Already have up-to-date AMZN.
Already have up-to-date AN.
Already have up-to-date ANAT.
Already have up-to-date ANDV.
Already have up-to-date ANET.
Already have up-to-date ANSS.
Already have up-to-date ANTM.
Already have up-to-date AON.
Already have up-to-date AOS.
Already have up-to-date APA.
Already have up-to-date APAM.
Already have up-to-date APC.
Already have up-to-date APD.
Already have up-to-date APH.
Already have up-to-date APLE.
Already have up-to-date APTV.
Already have up-to-date AR.
Already have up-to-date ARE.
Already have up-to-date ARMK.
Already have up-to-date ARNC.
Already have up-to-date ARRS.
Already have up-to-date ARW.
Already have up-to-date ASB.
Already have up-to-date ASH.
Already have up-to-date ATGE.
Already have up-to-date ATHN.
Already have up-to-date ATI.
Already have up-to-date ATO.
Already have up-to-date ATR.
Already have up-to-date ATVI.
Already have up-to-date AVB.
Already have up-to-date AVGO.
Already have up-to-date AVP.
Already have up-to-date AVT.
Already have up-to-date AVY.
Already have up-to-date AWI.
Already have up-to-date AWK.
Already have up-to-date AXP.
Already have up-to-date AXS.
Already have up-to-date AXTA.
Already have up-to-date AYI.
Already have up-to-date AZO.
Already have up-to-date BA.
Already have up-to-date BAC.
Already have up-to-date BAH.
Already have up-to-date BAX.
Already have up-to-date BBBY.
Already have up-to-date BBT.
Already have up-to-date BBY.
Already have up-to-date BC.
Already have up-to-date BCO.
Already have up-to-date BDC.
Already have up-to-date BDN.
Already have up-to-date BDX.
Already have up-to-date BEN.
Already have up-to-date BERY.
Already have up-to-date BG.
Already have up-to-date BHF.
Already have up-to-date BHGE.
Already have up-to-date BID.
Already have up-to-date BIG.
Already have up-to-date BIIB.
Already have up-to-date BIO.
Extend BIVV from 03/09/2018 beginning on 03/10/2018 to 04/16/2018.
get: tiingo exception for BIVV: <class 'KeyError'> - 'date'
get: tiingo error for BIVV, re-try 1.
get: tiingo exception for BIVV: <class 'KeyError'> - 'date'
get: tiingo error for BIVV, re-try 2.

UnboundLocalError: local variable 'status' referenced before assignment

In [ ]:
dfi = idb.combine_data(tickers = [ "FB", "AAPL", "AMZN", "NFLX", "GOOG" ], start="2018-03-01")
dfi.shape
dfi.head()

In [ ]:
dfi.info()

In [ ]:
dfi.columns.get_level_values(1).unique()

In [ ]:
tickers = [ "FB", "AAPL", "AMZN" ]
db.get_data(tickers, start, end)

In [10]:
df = db.combine_data(["A", "AA"])
df.shape

2018-04-16 14:49:10,652 INFO sqlalchemy.engine.base.Engine SELECT prices."Ticker", prices."Date", prices."AdjClose", prices."Close", prices."High", prices."Low", prices."Open", prices."Volume"
FROM prices
WHERE prices."Ticker" IN (?, ?)
2018-04-16 14:49:10,654 INFO sqlalchemy.engine.base.Engine ('A', 'AA')

(0, 0)

In [ ]:
df = db.combine_data([ "AAPL", "AMZN"]) # , dup.parse("03/02/2018"), dup.parse("03/09/2018"))

In [ ]:
df.shape
df.columns
df.tail()

In [ ]:
%pdb
import pickle
with open("verify_mom_raw_df.pkl","rb") as fp:
    df = pickle.load(fp)

In [ ]:
from trans.data import GetData
gd = GetData()
f_df = gd.load_data("verify_mom_raw_df.pkl")

In [ ]:
f_df.index.min(), f_df.index.max()
df.index.min(), df.index.max()
df.columns

In [ ]:
from trans.verify_tools import *
verify_df( df. loc[:, "Adj Close"], f_df.loc[:, ["AAPL", "AMZN"]])

In [ ]:

import pandas as pd
idx = pd.IndexSlice
abs(df.loc["2018-01-03":,   idx["Adj Close"]] -f_df.loc["2018-01-03":,   ["AAPL", "AMZN"]])