In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Reload all modules imported with %aimport
%load_ext autoreload
%autoreload 1

In [2]:
import trans.datastore.odo as odb
%aimport trans.datastore.odo

import datetime as dt
import dateutil.parser as dup

import pandas_datareader.data as web
import pandas_datareader as dr
dr.__version__

'0.6.0'

In [3]:
ticker = "SPY"
today = dt.datetime.combine( dt.date.today(), dt.time.min)

start = dup.parse("01/01/2018")
end   = today
from contextlib import suppress
from pandas_datareader.exceptions import DEP_ERROR_MSG, ImmediateDeprecationError
    
with suppress(ImmediateDeprecationError):
    df = web.DataReader(ticker, "yahoo", start, end)
    # df = web.get_data_yahoo(ticker, start, end)
df.shape

(71, 6)

In [4]:
try:
    df = web.DataReader(ticker, "yahoo", start, end)
    # df = web.get_data_yahoo(ticker, start, end)
except ImmediateDeprecationError as e:
    print("Exception: {}".format(e))
    pass

In [5]:
df.shape
df.head()

(71, 6)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,267.839996,268.809998,267.399994,268.769989,267.697845,86655700
2018-01-03,268.959991,270.640015,268.959991,270.470001,269.391083,90070400
2018-01-04,271.200012,272.160004,270.540009,271.609985,270.526520,80636400
2018-01-05,272.510010,273.559998,271.950012,273.420013,272.329315,83524000
2018-01-08,273.309998,274.100006,272.980011,273.920013,272.827332,57319200

In [33]:
tingo_ak_file="/home/ubuntu/Notebooks/tiingo_apkey.txt"
with open(tingo_ak_file, "r") as fp:
    ak_t = fp.read().rstrip()

'1972da9dc2406b0556e5267878edfdce07d7a093'

In [39]:
df_t = web.DataReader(ticker, "tiingo", start, end, access_key=ak_t)
df_t.shape
# df_t.loc["2018-03-10":].head()
df_t.index = df_t.index.droplevel(0)
df_t.loc["2018-03-10":, ["close", "adjClose"]].head()
df.loc["2018-03-10":, ["Close", "Adj Close"]].head()

df.loc["2018-03-10":, "Close"] - df_t.loc["2018-03-10":,"close"]
df.loc["2018-03-10":, "Adj Close"] - df_t.loc["2018-03-10":,"adjClose"]
df_t.loc["2018-03-10":,"divCash"] == 0

(71, 12)

             close    adjClose
date
2018-03-12  278.52  277.410379
2018-03-13  276.72  275.617550
2018-03-14  275.30  274.203207
2018-03-15  275.00  273.904402
2018-03-16  274.20  274.200000

                 Close   Adj Close
Date
2018-03-12  278.519989  277.408936
2018-03-13  276.720001  275.616150
2018-03-14  275.299988  274.201782
2018-03-15  275.000000  273.902985
2018-03-16  274.200012  274.200012

Date
2018-03-12   -1.100000e-05
2018-03-13    9.999999e-07
2018-03-14   -1.200000e-05
2018-03-15    0.000000e+00
2018-03-16    1.200000e-05
2018-03-19   -1.000000e-05
2018-03-20    1.200000e-05
2018-03-21   -7.000000e-06
2018-03-22    1.300000e-05
2018-03-23   -1.200000e-05
2018-03-26   -1.500000e-05
2018-03-27    6.000000e-06
2018-03-28   -1.300000e-05
2018-03-29   -6.000000e-06
2018-04-02    9.999999e-07
2018-04-03   -1.100000e-05
2018-04-04   -2.000000e-06
2018-04-05    1.500000e-05
2018-04-06    9.999999e-07
2018-04-09    0.000000e+00
2018-04-10   -6.000000e-06
2018-04-11    1.000000e-05
2018-04-12   -7.000000e-06
2018-04-13   -6.000000e-06
dtype: float64

Date
2018-03-12   -1.442719e-03
2018-03-13   -1.399904e-03
2018-03-14   -1.425172e-03
2018-03-15   -1.417369e-03
2018-03-16    1.200000e-05
2018-03-19   -1.000000e-05
2018-03-20    1.200000e-05
2018-03-21   -7.000000e-06
2018-03-22    1.300000e-05
2018-03-23   -1.200000e-05
2018-03-26   -1.500000e-05
2018-03-27    6.000000e-06
2018-03-28   -1.300000e-05
2018-03-29   -6.000000e-06
2018-04-02    9.999999e-07
2018-04-03   -1.100000e-05
2018-04-04   -2.000000e-06
2018-04-05    1.500000e-05
2018-04-06    9.999999e-07
2018-04-09    0.000000e+00
2018-04-10   -6.000000e-06
2018-04-11    1.000000e-05
2018-04-12   -7.000000e-06
2018-04-13   -6.000000e-06
dtype: float64

date
2018-03-12     True
2018-03-13     True
2018-03-14     True
2018-03-15     True
2018-03-16    False
2018-03-19     True
2018-03-20     True
2018-03-21     True
2018-03-22     True
2018-03-23     True
2018-03-26     True
2018-03-27     True
2018-03-28     True
2018-03-29     True
2018-04-02     True
2018-04-03     True
2018-04-04     True
2018-04-05     True
2018-04-06     True
2018-04-09     True
2018-04-10     True
2018-04-11     True
2018-04-12     True
2018-04-13     True
Name: divCash, dtype: bool

In [8]:
from trans.dataprovider.PDR.yahoo import Yahoo
%aimport trans.dataprovider.PDR.yahoo

yh = Yahoo()
df_yp = yh.get(tickers=["FB", "AAPL", "AMZN", "NFLX", "GOOG"], start=start, end=end)

In [9]:
df_yp.info()
df_yp.tail()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 71 entries, 2018-01-02 to 2018-04-13
Data columns (total 30 columns):
(Adj Close, AAPL)    71 non-null float64
(Close, AAPL)        71 non-null float64
(High, AAPL)         71 non-null float64
(Low, AAPL)          71 non-null float64
(Open, AAPL)         71 non-null float64
(Volume, AAPL)       71 non-null int64
(Adj Close, AMZN)    71 non-null float64
(Close, AMZN)        71 non-null float64
(High, AMZN)         71 non-null float64
(Low, AMZN)          71 non-null float64
(Open, AMZN)         71 non-null float64
(Volume, AMZN)       71 non-null int64
(Adj Close, FB)      71 non-null float64
(Close, FB)          71 non-null float64
(High, FB)           71 non-null float64
(Low, FB)            71 non-null float64
(Open, FB)           71 non-null float64
(Volume, FB)         71 non-null int64
(Adj Close, GOOG)    71 non-null float64
(Close, GOOG)        71 non-null float64
(High, GOOG)         71 non-null float64
(Low, GOOG)          71 non-null float64
(Open, GOOG)         71 non-null float64
(Volume, GOOG)       71 non-null int64
(Adj Close, NFLX)    71 non-null float64
(Close, NFLX)        71 non-null float64
(High, NFLX)         71 non-null float64
(Low, NFLX)          71 non-null float64
(Open, NFLX)         71 non-null float64
(Volume, NFLX)       71 non-null int64
dtypes: float64(25), int64(5)
memory usage: 17.2 KB

,Adj Close,Close,High,Low,Open,Volume,Adj Close,Close,High,Low,...,High,Low,Open,Volume,Adj Close,Close,High,Low,Open,Volume
,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AMZN,AMZN,AMZN,AMZN,...,GOOG,GOOG,GOOG,GOOG,NFLX,NFLX,NFLX,NFLX,NFLX,NFLX
Date,,,,,,,,,,,,,,,,,,,,,
2018-04-09,170.050003,170.050003,173.089996,169.850006,169.880005,29017700,1406.079956,1406.079956,1438.479980,1402.569946,...,1039.599976,1014.080017,1016.799988,1751600,289.929993,289.929993,299.549988,289.119995,291.769989,9853600
2018-04-10,173.250000,173.250000,174.000000,171.529999,173.000000,28408600,1436.219971,1436.219971,1438.380005,1415.699951,...,1036.280029,1011.340027,1026.439941,1974500,298.070007,298.070007,298.950012,291.690002,297.679993,10660500
2018-04-11,172.440002,172.440002,173.919998,171.699997,172.229996,22431600,1427.050049,1427.050049,1448.780029,1424.890015,...,1031.364014,1015.869995,1027.989990,1483900,303.670013,303.670013,311.640015,301.820007,302.880005,14877400
2018-04-12,174.139999,174.139999,175.000000,173.039993,173.410004,22889300,1448.500000,1448.500000,1452.119995,1435.060059,...,1040.689941,1021.434998,1025.040039,1357000,309.250000,309.250000,311.130005,306.750000,309.720001,10249400
2018-04-13,174.729996,174.729996,175.839996,173.850006,174.779999,25090100,1430.790039,1430.790039,1459.780029,1424.520020,...,1046.420044,1022.979980,1040.880005,1175100,311.649994,311.649994,317.489990,308.230011,317.290009,11965800

In [42]:
from trans.dataprovider.PDR.tiingo import Tiingo
%aimport trans.dataprovider.PDR.base
%aimport trans.dataprovider.PDR.tiingo

tg = Tiingo(access_key=ak_t)
# pyh.source = "yahoo"
df_tg = tg.get(tickers=["FB", "AAPL", "AMZN", "NFLX", "GOOG"], start=start, end=end)

In [43]:
df_tg.info()
df_tg.tail()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 71 entries, 2018-01-02 to 2018-04-13
Data columns (total 60 columns):
(AdjClose, AAPL)       71 non-null float64
(AdjHigh, AAPL)        71 non-null float64
(AdjLow, AAPL)         71 non-null float64
(AdjOpen, AAPL)        71 non-null float64
(AdjVolume, AAPL)      71 non-null int64
(Close, AAPL)          71 non-null float64
(DivCash, AAPL)        71 non-null float64
(High, AAPL)           71 non-null float64
(Low, AAPL)            71 non-null float64
(Open, AAPL)           71 non-null float64
(SplitFactor, AAPL)    71 non-null float64
(Volume, AAPL)         71 non-null int64
(AdjClose, AMZN)       71 non-null float64
(AdjHigh, AMZN)        71 non-null float64
(AdjLow, AMZN)         71 non-null float64
(AdjOpen, AMZN)        71 non-null float64
(AdjVolume, AMZN)      71 non-null int64
(Close, AMZN)          71 non-null float64
(DivCash, AMZN)        71 non-null float64
(High, AMZN)           71 non-null float64
(Low, AMZN)            71 non-null float64
(Open, AMZN)           71 non-null float64
(SplitFactor, AMZN)    71 non-null float64
(Volume, AMZN)         71 non-null int64
(AdjClose, FB)         71 non-null float64
(AdjHigh, FB)          71 non-null float64
(AdjLow, FB)           71 non-null float64
(AdjOpen, FB)          71 non-null float64
(AdjVolume, FB)        71 non-null int64
(Close, FB)            71 non-null float64
(DivCash, FB)          71 non-null float64
(High, FB)             71 non-null float64
(Low, FB)              71 non-null float64
(Open, FB)             71 non-null float64
(SplitFactor, FB)      71 non-null float64
(Volume, FB)           71 non-null int64
(AdjClose, GOOG)       71 non-null float64
(AdjHigh, GOOG)        71 non-null float64
(AdjLow, GOOG)         71 non-null float64
(AdjOpen, GOOG)        71 non-null float64
(AdjVolume, GOOG)      71 non-null int64
(Close, GOOG)          71 non-null float64
(DivCash, GOOG)        71 non-null float64
(High, GOOG)           71 non-null float64
(Low, GOOG)            71 non-null float64
(Open, GOOG)           71 non-null float64
(SplitFactor, GOOG)    71 non-null float64
(Volume, GOOG)         71 non-null int64
(AdjClose, NFLX)       71 non-null float64
(AdjHigh, NFLX)        71 non-null float64
(AdjLow, NFLX)         71 non-null float64
(AdjOpen, NFLX)        71 non-null float64
(AdjVolume, NFLX)      71 non-null int64
(Close, NFLX)          71 non-null float64
(DivCash, NFLX)        71 non-null float64
(High, NFLX)           71 non-null float64
(Low, NFLX)            71 non-null float64
(Open, NFLX)           71 non-null float64
(SplitFactor, NFLX)    71 non-null float64
(Volume, NFLX)         71 non-null int64
dtypes: float64(50), int64(10)
memory usage: 33.8 KB

,AdjClose,AdjHigh,AdjLow,AdjOpen,AdjVolume,Close,DivCash,High,Low,Open,...,AdjLow,AdjOpen,AdjVolume,Close,DivCash,High,Low,Open,SplitFactor,Volume
,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,...,NFLX,NFLX,NFLX,NFLX,NFLX,NFLX,NFLX,NFLX,NFLX,NFLX
Date,,,,,,,,,,,,,,,,,,,,,
2018-04-09,170.05,173.0900,169.845,169.88,29017718,170.05,0.0,173.0900,169.845,169.88,...,289.12,291.7700,9853564,289.93,0.0,299.55,289.12,291.7700,1.0,9853564
2018-04-10,173.25,174.0000,171.530,173.00,28614241,173.25,0.0,174.0000,171.530,173.00,...,291.69,297.6800,10719097,298.07,0.0,298.95,291.69,297.6800,1.0,10719097
2018-04-11,172.44,173.9232,171.700,172.23,22431640,172.44,0.0,173.9232,171.700,172.23,...,301.82,302.8847,14877429,303.67,0.0,311.64,301.82,302.8847,1.0,14877429
2018-04-12,174.14,175.0000,173.040,173.41,22889285,174.14,0.0,175.0000,173.040,173.41,...,306.75,309.7187,10249403,309.25,0.0,311.13,306.75,309.7187,1.0,10249403
2018-04-13,174.73,175.8400,173.850,174.78,25124255,174.73,0.0,175.8400,173.850,174.78,...,308.23,317.2900,12046573,311.65,0.0,317.49,308.23,317.2900,1.0,12046573

In [12]:
from trans.dataprovider.odo import ODO
%aimport trans.dataprovider.odo

dburl="sqlite:///full.db"

odr = ODO(dbURL=dburl)
# pyh.source = "yahoo"
df_od = odr.get(tickers=["FB", "AAPL", "AMZN", "NFLX", "GOOG"], start=start, end=end)

In [13]:
df_od.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 66 entries, 2018-01-02 to 2018-04-06
Data columns (total 30 columns):
(AdjClose, AAPL)    66 non-null float64
(AdjClose, AMZN)    66 non-null float64
(AdjClose, FB)      66 non-null float64
(AdjClose, GOOG)    66 non-null float64
(AdjClose, NFLX)    66 non-null float64
(Close, AAPL)       66 non-null float64
(Close, AMZN)       66 non-null float64
(Close, FB)         66 non-null float64
(Close, GOOG)       66 non-null float64
(Close, NFLX)       66 non-null float64
(High, AAPL)        66 non-null float64
(High, AMZN)        66 non-null float64
(High, FB)          66 non-null float64
(High, GOOG)        66 non-null float64
(High, NFLX)        66 non-null float64
(Low, AAPL)         66 non-null float64
(Low, AMZN)         66 non-null float64
(Low, FB)           66 non-null float64
(Low, GOOG)         66 non-null float64
(Low, NFLX)         66 non-null float64
(Open, AAPL)        66 non-null float64
(Open, AMZN)        66 non-null float64
(Open, FB)          66 non-null float64
(Open, GOOG)        66 non-null float64
(Open, NFLX)        66 non-null float64
(Volume, AAPL)      66 non-null float64
(Volume, AMZN)      66 non-null float64
(Volume, FB)        66 non-null float64
(Volume, GOOG)      66 non-null float64
(Volume, NFLX)      66 non-null float64
dtypes: float64(30)
memory usage: 16.0 KB

In [14]:
from trans.data import GetData
gd = GetData()

In [16]:
status, df_gd = gd.get_one("FB", start, end)
df_gd.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 71 entries, 2018-01-02 to 2018-04-13
Data columns (total 6 columns):
Open         71 non-null float64
High         71 non-null float64
Low          71 non-null float64
Close        71 non-null float64
Adj Close    71 non-null float64
Volume       71 non-null int64
dtypes: float64(5), int64(1)
memory usage: 3.9 KB

In [31]:
import pandas as pd
idx = pd.IndexSlice
df_yp_fb = df_yp.loc[:, idx[:,"FB"]]
df_yp_fb.columns = df_yp_fb.columns.droplevel(level=1)
df_yp_fb.info()

abs(df_yp_fb - df_gd).max()
df_yp_fb.tail()
df_gd.tail()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 71 entries, 2018-01-02 to 2018-04-13
Data columns (total 6 columns):
Adj Close    71 non-null float64
Close        71 non-null float64
High         71 non-null float64
Low          71 non-null float64
Open         71 non-null float64
Volume       71 non-null int64
dtypes: float64(5), int64(1)
memory usage: 6.4 KB

Adj Close    0.0
Close        0.0
High         0.0
Low          0.0
Open         0.0
Volume       0.0
dtype: float64

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2018-04-09,157.929993,157.929993,160.529999,156.039993,157.820007,34915200
2018-04-10,165.039993,165.039993,165.979996,157.009995,157.929993,57889300
2018-04-11,166.320007,166.320007,168.649994,163.250000,165.360001,56144600
2018-04-12,163.869995,163.869995,167.449997,163.100006,166.979996,38263000
2018-04-13,164.520004,164.520004,165.699997,163.770004,164.580002,19341400

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-04-09,157.820007,160.529999,156.039993,157.929993,157.929993,34915200
2018-04-10,157.929993,165.979996,157.009995,165.039993,165.039993,57889300
2018-04-11,165.360001,168.649994,163.250000,166.320007,166.320007,56144600
2018-04-12,166.979996,167.449997,163.100006,163.869995,163.869995,38263000
2018-04-13,164.580002,165.699997,163.770004,164.520004,164.520004,19341400