## From
https://chrisconlan.com/download-historical-stock-data-google-r-python/

In [8]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Demonstrates how to use Web request to fetch data from URL into
## a Panda Dataframe

In [1]:
import pandas as pd
import io
import requests
import time

In [2]:
def google_stocks(symbol, startdate = (1, 1, 2005), enddate = None):
 
    startdate = str(startdate[0]) + '+' + str(startdate[1]) + '+' + str(startdate[2])
 
    if not enddate:
        enddate = time.strftime("%m+%d+%Y")
    else:
        enddate = str(enddate[0]) + '+' + str(enddate[1]) + '+' + str(enddate[2])
 
    stock_url = "http://www.google.com/finance/historical?q=" + symbol + \
                "&startdate=" + startdate + "&enddate=" + enddate + "&output=csv"
 
    raw_response = requests.get(stock_url).content
 
    stock_data = pd.read_csv(io.StringIO(raw_response.decode('utf-8')))
 
    return stock_data

In [9]:
apple_data = google_stocks('AAPL')
# apple_data.info
apple_data.columns
apple_data.index

Index(['﻿Date', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

RangeIndex(start=0, stop=250, step=1)

In [4]:
apple_data = google_stocks('AAPL')
print(apple_data)

         ﻿Date    Open    High     Low   Close    Volume
0     8-Nov-17  174.66  176.24  174.33  176.24  24409527
1     7-Nov-17  173.91  175.25  173.60  174.81  24361485
2     6-Nov-17  172.36  174.99  171.72  174.25  35026306
3     3-Nov-17  174.00  174.26  171.12  172.50  59398631
4     2-Nov-17  166.60  168.50  165.28  168.11  41393373
5     1-Nov-17  169.87  169.94  165.61  166.89  33637762
6    31-Oct-17  167.90  169.65  166.94  169.04  36046828
7    30-Oct-17  163.89  168.07  163.72  166.72  44700772
8    27-Oct-17  159.29  163.60  158.70  163.05  44454160
9    26-Oct-17  157.23  157.83  156.78  157.41  17000469
10   25-Oct-17  156.91  157.55  155.27  156.41  21207098
11   24-Oct-17  156.29  157.42  156.20  157.10  17757230
12   23-Oct-17  156.89  157.69  155.50  156.17  21984327
13   20-Oct-17  156.61  157.75  155.96  156.25  23974146
14   19-Oct-17  156.75  157.08  155.02  155.98  42584166
15   18-Oct-17  160.42  160.71  159.60  159.76  16374164
16   17-Oct-17  159.78  160.87  159.23  160.47  18997275
17   16-Oct-17  157.90  160.00  157.65  159.88  24121452
18   13-Oct-17  156.73  157.28  156.41  156.99  16394188
19   12-Oct-17  156.35  157.37  155.73  156.00  16125054
20   11-Oct-17  155.97  156.98  155.75  156.55  16905640
21   10-Oct-17  156.06  158.00  155.10  155.90  15617014
22    9-Oct-17  155.81  156.73  155.48  155.84  16262923
23    6-Oct-17  154.97  155.49  154.56  155.30  17407558
24    5-Oct-17  154.18  155.44  154.05  155.39  21283769
25    4-Oct-17  153.63  153.86  152.46  153.48  20163750
26    3-Oct-17  154.01  155.09  153.91  154.48  16230293
27    2-Oct-17  154.26  154.45  152.72  153.81  18698842
28   29-Sep-17  153.21  154.13  152.00  154.12  26299810
29   28-Sep-17  153.89  154.28  152.70  153.28  22005455
..         ...     ...     ...     ...     ...       ...
220  23-Dec-16  115.59  116.52  115.59  116.52  14249484
221  22-Dec-16  116.35  116.51  115.64  116.29  26085854
222  21-Dec-16  116.80  117.40  116.78  117.06  23783165
223  20-Dec-16  116.74  117.50  116.68  116.95  21424965
224  19-Dec-16  115.80  117.38  115.75  116.64  27779423
225  16-Dec-16  116.47  116.50  115.64  115.97  44351134
226  15-Dec-16  115.38  116.73  115.23  115.82  46524544
227  14-Dec-16  115.04  116.20  114.98  115.19  34031834
228  13-Dec-16  113.84  115.92  113.75  115.19  43733811
229  12-Dec-16  113.29  115.00  112.49  113.30  26374377
230   9-Dec-16  112.31  114.70  112.31  113.95  34402627
231   8-Dec-16  110.86  112.43  110.60  112.12  27068316
232   7-Dec-16  109.26  111.19  109.16  111.03  29998719
233   6-Dec-16  109.50  110.36  109.19  109.95  26195462
234   5-Dec-16  110.00  110.03  108.25  109.11  34324540
235   2-Dec-16  109.17  110.09  108.85  109.90  26527997
236   1-Dec-16  110.36  110.94  109.03  109.49  37086862
237  30-Nov-16  111.60  112.20  110.27  110.52  36162258
238  29-Nov-16  110.78  112.03  110.07  111.46  28528750
239  28-Nov-16  111.43  112.46  111.39  111.57  27193983
240  25-Nov-16  111.47  111.87  110.95  111.79  11475922
241  23-Nov-16  111.36  111.51  110.33  111.23  27426394
242  22-Nov-16  111.95  112.42  111.40  111.80  25965534
243  21-Nov-16  110.12  111.99  110.01  111.73  29264571
244  18-Nov-16  109.72  110.54  109.66  110.06  28428917
245  17-Nov-16  109.81  110.35  108.83  109.95  26964598
246  16-Nov-16  106.70  110.23  106.60  109.99  58840522
247  15-Nov-16  106.57  107.68  106.16  107.11  32264510
248  14-Nov-16  107.71  107.81  104.08  105.71  51175504
249  11-Nov-16  107.12  108.87  106.55  108.43  34143898

[250 rows x 6 columns]

In [10]:
apple_truncated = google_stocks('AAPL', enddate = (1, 1, 2006))
print(apple_truncated)

         ﻿Date    Open    High     Low   Close    Volume
0     8-Nov-17  174.66  176.24  174.33  176.24  24409527
1     7-Nov-17  173.91  175.25  173.60  174.81  24361485
2     6-Nov-17  172.36  174.99  171.72  174.25  35026306
3     3-Nov-17  174.00  174.26  171.12  172.50  59398631
4     2-Nov-17  166.60  168.50  165.28  168.11  41393373
5     1-Nov-17  169.87  169.94  165.61  166.89  33637762
6    31-Oct-17  167.90  169.65  166.94  169.04  36046828
7    30-Oct-17  163.89  168.07  163.72  166.72  44700772
8    27-Oct-17  159.29  163.60  158.70  163.05  44454160
9    26-Oct-17  157.23  157.83  156.78  157.41  17000469
10   25-Oct-17  156.91  157.55  155.27  156.41  21207098
11   24-Oct-17  156.29  157.42  156.20  157.10  17757230
12   23-Oct-17  156.89  157.69  155.50  156.17  21984327
13   20-Oct-17  156.61  157.75  155.96  156.25  23974146
14   19-Oct-17  156.75  157.08  155.02  155.98  42584166
15   18-Oct-17  160.42  160.71  159.60  159.76  16374164
16   17-Oct-17  159.78  160.87  159.23  160.47  18997275
17   16-Oct-17  157.90  160.00  157.65  159.88  24121452
18   13-Oct-17  156.73  157.28  156.41  156.99  16394188
19   12-Oct-17  156.35  157.37  155.73  156.00  16125054
20   11-Oct-17  155.97  156.98  155.75  156.55  16905640
21   10-Oct-17  156.06  158.00  155.10  155.90  15617014
22    9-Oct-17  155.81  156.73  155.48  155.84  16262923
23    6-Oct-17  154.97  155.49  154.56  155.30  17407558
24    5-Oct-17  154.18  155.44  154.05  155.39  21283769
25    4-Oct-17  153.63  153.86  152.46  153.48  20163750
26    3-Oct-17  154.01  155.09  153.91  154.48  16230293
27    2-Oct-17  154.26  154.45  152.72  153.81  18698842
28   29-Sep-17  153.21  154.13  152.00  154.12  26299810
29   28-Sep-17  153.89  154.28  152.70  153.28  22005455
..         ...     ...     ...     ...     ...       ...
220  23-Dec-16  115.59  116.52  115.59  116.52  14249484
221  22-Dec-16  116.35  116.51  115.64  116.29  26085854
222  21-Dec-16  116.80  117.40  116.78  117.06  23783165
223  20-Dec-16  116.74  117.50  116.68  116.95  21424965
224  19-Dec-16  115.80  117.38  115.75  116.64  27779423
225  16-Dec-16  116.47  116.50  115.64  115.97  44351134
226  15-Dec-16  115.38  116.73  115.23  115.82  46524544
227  14-Dec-16  115.04  116.20  114.98  115.19  34031834
228  13-Dec-16  113.84  115.92  113.75  115.19  43733811
229  12-Dec-16  113.29  115.00  112.49  113.30  26374377
230   9-Dec-16  112.31  114.70  112.31  113.95  34402627
231   8-Dec-16  110.86  112.43  110.60  112.12  27068316
232   7-Dec-16  109.26  111.19  109.16  111.03  29998719
233   6-Dec-16  109.50  110.36  109.19  109.95  26195462
234   5-Dec-16  110.00  110.03  108.25  109.11  34324540
235   2-Dec-16  109.17  110.09  108.85  109.90  26527997
236   1-Dec-16  110.36  110.94  109.03  109.49  37086862
237  30-Nov-16  111.60  112.20  110.27  110.52  36162258
238  29-Nov-16  110.78  112.03  110.07  111.46  28528750
239  28-Nov-16  111.43  112.46  111.39  111.57  27193983
240  25-Nov-16  111.47  111.87  110.95  111.79  11475922
241  23-Nov-16  111.36  111.51  110.33  111.23  27426394
242  22-Nov-16  111.95  112.42  111.40  111.80  25965534
243  21-Nov-16  110.12  111.99  110.01  111.73  29264571
244  18-Nov-16  109.72  110.54  109.66  110.06  28428917
245  17-Nov-16  109.81  110.35  108.83  109.95  26964598
246  16-Nov-16  106.70  110.23  106.60  109.99  58840522
247  15-Nov-16  106.57  107.68  106.16  107.11  32264510
248  14-Nov-16  107.71  107.81  104.08  105.71  51175504
249  11-Nov-16  107.12  108.87  106.55  108.43  34143898

[250 rows x 6 columns]

## Use Quandl

See https://www.quandl.com/tools/python

In [41]:
import quandl

with open("quandl_apkey.txt", "r") as keyfile:
    key = keyfile.read()
    
quandl_key = key.rstrip()
quandl.ApiConfig.api_key = quandl_key # "evWfebtKvTVN_dxvWqau"

In [42]:
mydata = quandl.get("FRED/GDP")

mydata.head()

              Value
Date
1947-01-01  243.080
1947-04-01  246.267
1947-07-01  250.115
1947-10-01  260.309
1948-01-01  266.173

In [51]:
data = quandl.get_table('ZACKS/FC', paginate=True, 
                        ticker=['AAPL', 'MSFT'], 
                        per_end_date={'gte': '2015-01-01'}, 
                        qopts={'columns':['ticker', 'per_end_date']}
                       )

data['ticker'].value_counts()
data.head()

MSFT    14
AAPL    14
Name: ticker, dtype: int64

     ticker per_end_date
None
0      AAPL   2015-09-30
1      AAPL   2016-09-30
2      AAPL   2017-09-30
3      AAPL   2015-03-31
4      AAPL   2015-06-30

## Use Datareader
### n.b., uses Panel, which is deprecated ?

In [11]:
from pandas_datareader import data
import pandas as pd


# Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
tickers = ['AAPL', 'MSFT', 'SPY']

# Define which online source one should use
data_source = 'google'

# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2010-01-01'
end_date = '2016-12-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
panel_data = data.DataReader(tickers, data_source, start_date, end_date)

In [17]:
type(panel_data)
panel_data.ix['Close'].head()

pandas.core.panel.Panel

              AAPL   MSFT     SPY
Date
2016-11-11  108.43  59.02  216.42
2016-11-14  105.71  58.12  216.59
2016-11-15  107.11  58.87  218.28
2016-11-16  109.99  59.65  217.87
2016-11-17  109.95  60.64  218.99

In [19]:
# Getting just the adjusted closing prices. This will return a Pandas DataFrame
# The index in this DataFrame is the major index of the panel_data.
close = panel_data.ix['Close']

# Getting all weekdays between 01/01/2000 and 12/31/2016
all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')

# How do we align the existing prices in adj_close with our new set of dates?
# All we need to do is reindex close using all_weekdays as the new index
close = close.reindex(all_weekdays)

close.tail(10)

              AAPL   MSFT     SPY
2016-12-19  116.64  63.62  225.53
2016-12-20  116.95  63.54  226.40
2016-12-21  117.06  63.54  225.77
2016-12-22  116.29  63.55  225.38
2016-12-23  116.52  63.24  225.71
2016-12-26     NaN    NaN     NaN
2016-12-27  117.26  63.28  226.27
2016-12-28  116.76  62.99  224.40
2016-12-29  116.73  62.90  224.35
2016-12-30  115.82  62.14  223.53

In [21]:
df = panel_data.to_frame()
df.head()

                    Open    High     Low   Close       Volume
Date       minor
2016-11-11 AAPL   107.12  108.87  106.55  108.43   34143898.0
           MSFT    58.23   59.12   58.01   59.02   38767843.0
           SPY    216.08  216.70  215.32  216.42  100552732.0
2016-11-14 AAPL   107.71  107.81  104.08  105.71   51175504.0
           MSFT    59.02   59.08   57.28   58.12   41328422.0

## Fama French

In [23]:
from pandas_datareader.famafrench import get_available_datasets

import pandas_datareader.data as web

len(get_available_datasets())
ds = web.DataReader("5_Industry_Portfolios", "famafrench")

print(ds['DESCR'])

262

5 Industry Portfolios
---------------------

This file was created by CMPT_IND_RETS using the 201709 CRSP database. It contains value- and equal-weighted returns for 5 industry portfolios. The portfolios are constructed at the end of June. The annual returns are from January to December. Missing data are indicated by -99.99 or -999. Copyright 2017 Kenneth R. French

  0 : Average Value Weighted Returns -- Monthly (93 rows x 5 cols)
  1 : Average Equal Weighted Returns -- Monthly (93 rows x 5 cols)
  2 : Average Value Weighted Returns -- Annual (7 rows x 5 cols)
  3 : Average Equal Weighted Returns -- Annual (7 rows x 5 cols)
  4 : Number of Firms in Portfolios (93 rows x 5 cols)
  5 : Average Firm Size (93 rows x 5 cols)
  6 : Sum of BE / Sum of ME (8 rows x 5 cols)
  7 : Value-Weighted Average of BE/ME (8 rows x 5 cols)

In [26]:
type(ds)
ds.keys()

dict

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 'DESCR'])

In [29]:
type(ds[4])
ds[4].head()

pandas.core.frame.DataFrame

         Cnsmr  Manuf  HiTec  Hlth   Other
Date
2010-01    622    737    830    467   1232
2010-02    620    734    821    464   1221
2010-03    614    729    818    458   1215
2010-04    614    726    807    458   1203
2010-05    611    723    804    457   1195

## NASDAQ Symbols

In [31]:
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols
symbols = get_nasdaq_symbols()
print(symbols.ix['IBM'])

Nasdaq Traded                                                    True
Security Name       International Business Machines Corporation Co...
Listing Exchange                                                    N
Market Category
ETF                                                             False
Round Lot Size                                                    100
Test Issue                                                      False
Financial Status                                                  NaN
CQS Symbol                                                        IBM
NASDAQ Symbol                                                     IBM
NextShares                                                      False
Name: IBM, dtype: object