# Based on http://tomaugspurger.github.io/modern-4-performance.html

In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
coord = pd.DataFrame( { 'LATITUDE': [ 1, 2, 3, 4],
                          'LONGITUDE': [10, 20, 30, 40]})

In [20]:
coord.head()
coord.index
coord.shape
pd.Series(coord.shape).product()
coord.size

   LATITUDE  LONGITUDE
0         1         10
1         2         20
2         3         30
3         4         40

RangeIndex(start=0, stop=4, step=1)

(4, 2)

8

8

## Create a multi-index that is the cross product of the index

In [5]:
idx = pd.MultiIndex.from_product([coord.index, coord.index],
                                 names=['origin', 'dest'])

### Use the first part ('origin') of the multi-index to index into coord
#### The result is replicated for each second part ('dest') of the multi-index
####  That's why the rows indexed by origin=0 in the multi-index shows the row with index=0 in original

In [6]:
coord.add_suffix('_1').reindex(idx, level='origin').head( coord.size )

             LATITUDE_1  LONGITUDE_1
origin dest
0      0              1           10
       1              1           10
       2              1           10
       3              1           10
1      0              2           20
       1              2           20
       2              2           20
       3              2           20

## Use the second part ('dest') of the multi-index to index into coord
### The result is replicated for each first part ('origin') of the multi-indexÂ¶
#### That's why the rows indexed by dest=0 in the multi-index shows the row with index=0 in original

In [7]:
coord.add_suffix('_2').reindex(idx, level='dest').head( coord.size )

             LATITUDE_2  LONGITUDE_2
origin dest
0      0              1           10
       1              2           20
       2              3           30
       3              4           40
1      0              1           10
       1              2           20
       2              3           30
       3              4           40

## Now use the multi-index to form the cross-product of the original with itself

In [8]:
pairs = pd.concat([coord.add_suffix('_1').reindex(idx, level='origin'),
                   coord.add_suffix('_2').reindex(idx, level='dest')],
                  axis=1)

pairs.shape
pairs.head( pairs.size )

(16, 4)

             LATITUDE_1  LONGITUDE_1  LATITUDE_2  LONGITUDE_2
origin dest
0      0              1           10           1           10
       1              1           10           2           20
       2              1           10           3           30
       3              1           10           4           40
1      0              2           20           1           10
       1              2           20           2           20
       2              2           20           3           30
       3              2           20           4           40
2      0              3           30           1           10
       1              3           30           2           20
       2              3           30           3           30
       3              3           30           4           40
3      0              4           40           1           10
       1              4           40           2           20
       2              4           40           3           30
       3              4           40           4           40