In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Reload all modules imported with %aimport
%load_ext autoreload
%autoreload 1

In [2]:
%aimport trans.data
%aimport trans.gtrans
%aimport trans.reg
%aimport trans.date_manip


import pandas as pd
idx = pd.IndexSlice

from trans.data import GetData
from trans.gtrans import *
from trans.reg import Reg
import datetime as dt
import dateutil.parser as dup
import datedelta

from trans.date_manip import Date_Manipulator

gd = GetData()

In [3]:
# df = gd.load_data("ret_and_beta_df.pkl")
ret_df = gd.load_data("ret_and_rolled_beta_df.pkl")
ret_df.shape
ret_df.tail()

(4536, 33)

             Adj Close                                                    \
                  AAPL         AMZN          FB         GOOG        NFLX
Dt
2017-12-22  175.009995  1168.359985  177.199997  1060.119995  189.940002
2017-12-26  170.570007  1176.760010  175.990005  1056.739990  187.759995
2017-12-27  170.600006  1182.260010  177.619995  1049.369995  186.240005
2017-12-28  171.080002  1186.099976  177.919998  1048.140015  192.710007
2017-12-29  169.229996  1169.469971  176.460007  1046.400024  191.960007

                          Beta 0                               ...  \
                   SPY      AAPL      AMZN        FB      GOOG ...
Dt                                                             ...
2017-12-22  267.510010       NaN       NaN       NaN       NaN ...
2017-12-26  267.190002       NaN       NaN       NaN       NaN ...
2017-12-27  267.320007       NaN       NaN       NaN       NaN ...
2017-12-28  267.869995       NaN       NaN       NaN       NaN ...
2017-12-29  266.859985 -0.001793 -0.000217 -0.000183  0.001072 ...

           Beta 1 rolled fwd                           Pct            \
                          FB      GOOG      NFLX      AAPL      AMZN
Dt
2017-12-22          1.164516  0.837844  2.177337  0.000000 -0.005448
2017-12-26          1.164516  0.837844  2.177337 -0.025370  0.007190
2017-12-27          1.164516  0.837844  2.177337  0.000176  0.004674
2017-12-28          1.164516  0.837844  2.177337  0.002814  0.003248
2017-12-29          0.859952  1.081924  0.908602 -0.010814 -0.014021


                  FB      GOOG      NFLX       SPY  1
Dt
2017-12-22 -0.001409 -0.003300  0.006998 -0.000262  1
2017-12-26 -0.006828 -0.003188 -0.011477 -0.001196  1
2017-12-27  0.009262 -0.006974 -0.008095  0.000487  1
2017-12-28  0.001689 -0.001172  0.034740  0.002057  1
2017-12-29 -0.008206 -0.001660 -0.003892 -0.003771  1

[5 rows x 33 columns]

In [4]:
i = ret_df.index
i.min()
i.max()

Timestamp('2000-01-03 00:00:00')

Timestamp('2017-12-29 00:00:00')

In [5]:
from trans.date_manip import Date_Manipulator
dm = Date_Manipulator( ret_df.index )
monthly = dm.periodic( dup.parse("01/01/2018"), datedelta.datedelta(months=1) )

end_of_monthly =  dm.periodic_end_of_month( dup.parse("12/15/2017"))
end_of_monthly[-10:]

End 2017-12-15 00:00:00, last 2017-12-31 00:00:00

[datetime.datetime(2017, 3, 31, 0, 0),
 datetime.datetime(2017, 4, 30, 0, 0),
 datetime.datetime(2017, 5, 31, 0, 0),
 datetime.datetime(2017, 6, 30, 0, 0),
 datetime.datetime(2017, 7, 31, 0, 0),
 datetime.datetime(2017, 8, 31, 0, 0),
 datetime.datetime(2017, 9, 30, 0, 0),
 datetime.datetime(2017, 10, 31, 0, 0),
 datetime.datetime(2017, 11, 30, 0, 0),
 datetime.datetime(2017, 12, 31, 0, 0)]

In [6]:
eom_in_idx = dm.periodic_in_idx_end_of_month( dup.parse("12/15/2017"))
eom_in_idx[-10:]

End 2017-12-15 00:00:00, last 2017-12-31 00:00:00

[Timestamp('2017-02-28 00:00:00'),
 Timestamp('2017-03-31 00:00:00'),
 Timestamp('2017-04-28 00:00:00'),
 Timestamp('2017-05-31 00:00:00'),
 Timestamp('2017-06-30 00:00:00'),
 Timestamp('2017-07-31 00:00:00'),
 Timestamp('2017-08-31 00:00:00'),
 Timestamp('2017-09-29 00:00:00'),
 Timestamp('2017-10-31 00:00:00'),
 Timestamp('2017-11-30 00:00:00')]

In [7]:
month_r = dm.range_in_index( eom_in_idx)
month_r[-10:]

[(Timestamp('2017-02-01 00:00:00'), Timestamp('2017-02-28 00:00:00')),
 (Timestamp('2017-03-01 00:00:00'), Timestamp('2017-03-31 00:00:00')),
 (Timestamp('2017-04-03 00:00:00'), Timestamp('2017-04-28 00:00:00')),
 (Timestamp('2017-05-01 00:00:00'), Timestamp('2017-05-31 00:00:00')),
 (Timestamp('2017-06-01 00:00:00'), Timestamp('2017-06-30 00:00:00')),
 (Timestamp('2017-07-03 00:00:00'), Timestamp('2017-07-31 00:00:00')),
 (Timestamp('2017-08-01 00:00:00'), Timestamp('2017-08-31 00:00:00')),
 (Timestamp('2017-09-01 00:00:00'), Timestamp('2017-09-29 00:00:00')),
 (Timestamp('2017-10-02 00:00:00'), Timestamp('2017-10-31 00:00:00')),
 (Timestamp('2017-11-01 00:00:00'), Timestamp('2017-11-30 00:00:00'))]

In [8]:
price_monthly_df = ret_df.loc[ eom_in_idx,: ]
price_monthly_df.shape

(215, 33)

## Create monthly returns

In [9]:
price_attr = "Adj Close"
price_attr_shift_1m = price_attr + " -1m"

ret_attr = "Pct"
monthly_ret_attr = "Month " + ret_attr
monthly_rank_attr = monthly_ret_attr + ' rank'

In [10]:
monthly_ret_pl = GenRetAttrTransformer( price_attr, price_attr_shift_1m, monthly_ret_attr, 1 )
monthly_ret_df = monthly_ret_pl.fit_transform( price_monthly_df )
monthly_ret_df.tail()

           Adj Close -1m                                                    \
                    AAPL         AMZN          FB         GOOG        NFLX
Dt
2017-07-31    142.942795   968.000000  150.979996   908.729980  149.410004
2017-08-31    147.617554   987.780029  169.250000   930.500000  181.660004
2017-09-29    163.412552   980.599976  171.970001   939.330017  174.710007
2017-10-31    153.567932   961.349976  170.869995   959.109985  181.350006
2017-11-30    168.434494  1105.280029  180.059998  1016.640015  196.429993

                       Month Pct                                          \
                   SPY      AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-07-31  239.382355  0.032704  0.020434  0.121009  0.023957  0.215849
2017-08-31  244.302643  0.106999 -0.007269  0.016071  0.009490 -0.038258
2017-09-29  245.015457 -0.060244 -0.019631 -0.006396  0.021058  0.038006
2017-10-31  249.952377  0.096808  0.149717  0.053784  0.059983  0.083154
2017-11-30  255.842270  0.020278  0.064662 -0.015995  0.004692 -0.045054


                 SPY
Dt
2017-07-31  0.020554
2017-08-31  0.002918
2017-09-29  0.020149
2017-10-31  0.023564
2017-11-30  0.030566

## Create end-of-month rank (based on monthly return), and use them as rank for each day of following month

## Rank ONLY the tickers in the universe (e.g., NOT SPY)

In [11]:
univ = ["FB", "AAPL", "AMZN", "NFLX", "GOOG"]

In [12]:

next_period_rank_pl = GenRankEndOfPeriodAttrTransformer(
    monthly_ret_df,
    monthly_ret_attr,
    univ,
    monthly_rank_attr
)
next_period_rank_df = next_period_rank_pl.fit_transform( ret_df )

next_period_rank_df.loc[ "11/25/2017":"12/01/2017"]

           Month Pct rank
                     AAPL AMZN   FB GOOG NFLX
Dt
2017-11-27            4.0  5.0  1.0  2.0  3.0
2017-11-28            4.0  5.0  1.0  2.0  3.0
2017-11-29            4.0  5.0  1.0  2.0  3.0
2017-11-30            4.0  5.0  1.0  2.0  3.0
2017-12-01            NaN  NaN  NaN  NaN  NaN

## Create HML portfolio return

In [41]:
wt_attr = "HML weight"
portret_attr = "Port"

portret_pl = make_pipeline(  GenRankToPortRetTransformer(
    ret_attr,
    next_period_rank_df,
    monthly_rank_attr,
    wt_attr,
    portret_attr
)
                          )

port_ret_df = portret_pl.fit_transform( ret_df )

port_ret_df.loc[ "11/25/2017":"12/01/2017"]

           HML weight                     Pct                                \
                 AAPL AMZN   FB GOOG NFLX   1 AAPL      AMZN        FB GOOG
Dt
2017-11-27        0.0  1.0 -1.0  0.0  0.0 NaN -0.0  0.008288 -0.001368  0.0
2017-11-28        0.0  1.0 -1.0  0.0  0.0 NaN -0.0 -0.001865  0.003333 -0.0
2017-11-29        0.0  1.0 -1.0  0.0  0.0 NaN -0.0 -0.027086  0.039963 -0.0
2017-11-30        0.0  1.0 -1.0  0.0  0.0 NaN  0.0  0.013330 -0.011706 -0.0
2017-12-01        0.0  0.0  0.0  0.0  0.0 NaN -0.0 -0.000000 -0.000000 -0.0


           NFLX      Port SPY
Dt
2017-11-27 -0.0  0.006921 NaN
2017-11-28  0.0  0.001468 NaN
2017-11-29 -0.0  0.012877 NaN
2017-11-30 -0.0  0.001625 NaN
2017-12-01 -0.0  0.000000 NaN