http://docs.sqlalchemy.org/en/latest/_modules/examples/performance/bulk_inserts.html

In [1]:

from odo import *

In [16]:
fname = "/tmp/a.csv"
ds = discover( resource(fname) )

In [18]:
ds

dshape("""var * {
  Date: ?datetime,
  'Adj Close': float64,
  Close: float64,
  High: float64,
  Low: float64,
  Open: float64,
  Volume: float64
  }""")

In [52]:
df = pd.read_csv("/tmp/a.csv")
df.columns
df.rename( columns={ "Adj Close": "AdjClose"}, inplace=True)
df.columns

Index(['Date', 'AdjClose', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [3]:
dburl_table = 'sqlite:////tmp/foo.db::bozo'
#engine = create_engine()

In [51]:
t = odo(fname, dburl_table, dshape=ds )

In [36]:
type(t)

sqlalchemy.sql.schema.Table

In [101]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, create_engine, bindparam
from sqlalchemy.orm import Session
from sqlalchemy.exc import SQLAlchemyError

Base = declarative_base()

In [5]:
dburl = 'sqlite:////tmp/foo.db'

In [102]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float,create_engine, bindparam
from sqlalchemy.orm import Session

Base = declarative_base()
engine = create_engine(dburl, echo=True)

In [106]:
class Price(Base):
    __tablename__ = "prices"
    Ticker = Column(String(255), primary_key=True)
    Date   = Column(Date, primary_key=True)
    AdjClose = Column(Float)
    Close   = Column(Float)
    High    = Column(Float)
    Low     = Column(Float)
    Open    = Column(Float)
    Volume  = Column(Float)

In [77]:
Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)

2018-02-24 19:25:31,510 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-02-24 19:25:31,513 INFO sqlalchemy.engine.base.Engine ()
2018-02-24 19:25:31,517 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-02-24 19:25:31,518 INFO sqlalchemy.engine.base.Engine ()
2018-02-24 19:25:31,520 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("prices")
2018-02-24 19:25:31,522 INFO sqlalchemy.engine.base.Engine ()
2018-02-24 19:25:31,526 INFO sqlalchemy.engine.base.Engine
DROP TABLE prices
2018-02-24 19:25:31,527 INFO sqlalchemy.engine.base.Engine ()
2018-02-24 19:25:31,533 INFO sqlalchemy.engine.base.Engine COMMIT
2018-02-24 19:25:31,539 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("prices")
2018-02-24 19:25:31,540 INFO sqlalchemy.engine.base.Engine ()
2018-02-24 19:25:31,543 INFO sqlalchemy.engine.base.Engine
CREATE TABLE prices (
	"Ticker" VARCHAR(255) NOT NULL,
	"Date" DATE NOT NULL,
	"AdjClose" FLOAT,
	"Close" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Open" FLOAT,
	"Volume" FLOAT,
	PRIMARY KEY ("Ticker", "Date")
)


2018-02-24 19:25:31,544 INFO sqlalchemy.engine.base.Engine ()
2018-02-24 19:25:31,550 INFO sqlalchemy.engine.base.Engine COMMIT

In [109]:
session = Session(bind=engine)

In [110]:

for t in ("a", "b"):
    print("Reading {}".format(t))
    
    df = pd.read_csv("/tmp/" + t +  ".csv")
    df = df.rename( columns={ "Adj Close": "AdjClose"} )
    
    df["Date"] = pd.to_datetime( df["Date"])
    
    rows = df.to_dict("records")
   
    for row in rows:
        row["Ticker"] = t
        # print ("Row: {}".format(row))
        rec= Price(**row)
        
        session.add(rec)
 
    try:
        session.flush()
    except SQLAlchemyError as e:
        print("Flush error: {}".format(e))
    
session.commit()

Reading a
2018-02-24 20:07:04,092 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-02-24 20:07:04,095 INFO sqlalchemy.engine.base.Engine INSERT INTO prices ("Ticker", "Date", "AdjClose", "Close", "High", "Low", "Open", "Volume") VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2018-02-24 20:07:04,097 INFO sqlalchemy.engine.base.Engine (('a', '2000-01-03', 43.515522, 55.5, 59.125, 53.4375, 59.0312, 1199600.0), ('a', '2000-01-04', 41.408337, 52.8125, 55.0, 52.5, 54.625, 816100.0), ('a', '2000-01-05', 41.359328999999995, 52.75, 53.25, 51.0625, 52.75, 1124700.0), ('a', '2000-01-06', 41.947392, 53.5, 54.9375, 52.375, 52.75, 1112100.0), ('a', '2000-01-07', 42.045390999999995, 53.625, 54.25, 53.3125, 53.75, 782000.0), ('a', '2000-01-10', 41.285782, 52.6562, 53.75, 51.5, 53.6875, 408800.0))
2018-02-24 20:07:04,099 INFO sqlalchemy.engine.base.Engine ROLLBACK
Flush error: (sqlite3.IntegrityError) UNIQUE constraint failed: prices.Ticker, prices.Date [SQL: 'INSERT INTO prices ("Ticker", "Date", "AdjClose", "Close", "High", "Low", "Open", "Volume") VALUES (?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: (('a', '2000-01-03', 43.515522, 55.5, 59.125, 53.4375, 59.0312, 1199600.0), ('a', '2000-01-04', 41.408337, 52.8125, 55.0, 52.5, 54.625, 816100.0), ('a', '2000-01-05', 41.359328999999995, 52.75, 53.25, 51.0625, 52.75, 1124700.0), ('a', '2000-01-06', 41.947392, 53.5, 54.9375, 52.375, 52.75, 1112100.0), ('a', '2000-01-07', 42.045390999999995, 53.625, 54.25, 53.3125, 53.75, 782000.0), ('a', '2000-01-10', 41.285782, 52.6562, 53.75, 51.5, 53.6875, 408800.0))]
Reading b
Flush error: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (sqlite3.IntegrityError) UNIQUE constraint failed: prices.Ticker, prices.Date [SQL: 'INSERT INTO prices ("Ticker", "Date", "AdjClose", "Close", "High", "Low", "Open", "Volume") VALUES (?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: (('a', '2000-01-03', 43.515522, 55.5, 59.125, 53.4375, 59.0312, 1199600.0), ('a', '2000-01-04', 41.408337, 52.8125, 55.0, 52.5, 54.625, 816100.0), ('a', '2000-01-05', 41.359328999999995, 52.75, 53.25, 51.0625, 52.75, 1124700.0), ('a', '2000-01-06', 41.947392, 53.5, 54.9375, 52.375, 52.75, 1112100.0), ('a', '2000-01-07', 42.045390999999995, 53.625, 54.25, 53.3125, 53.75, 782000.0), ('a', '2000-01-10', 41.285782, 52.6562, 53.75, 51.5, 53.6875, 408800.0))]

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (sqlite3.IntegrityError) UNIQUE constraint failed: prices.Ticker, prices.Date [SQL: 'INSERT INTO prices ("Ticker", "Date", "AdjClose", "Close", "High", "Low", "Open", "Volume") VALUES (?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: (('a', '2000-01-03', 43.515522, 55.5, 59.125, 53.4375, 59.0312, 1199600.0), ('a', '2000-01-04', 41.408337, 52.8125, 55.0, 52.5, 54.625, 816100.0), ('a', '2000-01-05', 41.359328999999995, 52.75, 53.25, 51.0625, 52.75, 1124700.0), ('a', '2000-01-06', 41.947392, 53.5, 54.9375, 52.375, 52.75, 1112100.0), ('a', '2000-01-07', 42.045390999999995, 53.625, 54.25, 53.3125, 53.75, 782000.0), ('a', '2000-01-10', 41.285782, 52.6562, 53.75, 51.5, 53.6875, 408800.0))]

In [103]:
rsession = Session(bind=engine)

In [122]:
q = rsession.query(Price)
for r in q.all():
    print(r.Ticker, r.Date)

2018-02-24 20:17:15,204 INFO sqlalchemy.engine.base.Engine SELECT prices."Ticker" AS "prices_Ticker", prices."Date" AS "prices_Date", prices."AdjClose" AS "prices_AdjClose", prices."Close" AS "prices_Close", prices."High" AS "prices_High", prices."Low" AS "prices_Low", prices."Open" AS "prices_Open", prices."Volume" AS "prices_Volume"
FROM prices
2018-02-24 20:17:15,207 INFO sqlalchemy.engine.base.Engine ()
a 2000-01-03
a 2000-01-04
a 2000-01-05
a 2000-01-06
a 2000-01-07
a 2000-01-10
b 2000-01-03
b 2000-01-04
b 2000-01-05
b 2000-01-06
b 2000-01-07
b 2000-01-10
b 2000-01-11
b 2000-01-12
b 2000-01-13
b 2000-01-14
b 2000-01-18

In [111]:
df_r = pd.read_sql(session.query(Price).statement, rsession.bind)
df_r.head()

2018-02-24 20:08:57,275 INFO sqlalchemy.engine.base.Engine SELECT prices."Ticker", prices."Date", prices."AdjClose", prices."Close", prices."High", prices."Low", prices."Open", prices."Volume"
FROM prices
2018-02-24 20:08:57,279 INFO sqlalchemy.engine.base.Engine ()

  Ticker        Date   AdjClose    Close     High      Low     Open     Volume
0      a  2000-01-03  43.515522  55.5000  59.1250  53.4375  59.0312  1199600.0
1      a  2000-01-04  41.408337  52.8125  55.0000  52.5000  54.6250   816100.0
2      a  2000-01-05  41.359329  52.7500  53.2500  51.0625  52.7500  1124700.0
3      a  2000-01-06  41.947392  53.5000  54.9375  52.3750  52.7500  1112100.0
4      a  2000-01-07  42.045391  53.6250  54.2500  53.3125  53.7500   782000.0

In [105]:
df_r_b = pd.read_sql( rsession.query(Price).filter(Price.Ticker== "b").statement, rsession.bind)
df_r_b.head()

2018-02-24 20:04:58,390 INFO sqlalchemy.engine.base.Engine SELECT prices."Ticker", prices."Date", prices."AdjClose", prices."Close", prices."High", prices."Low", prices."Open", prices."Volume"
FROM prices
WHERE prices."Ticker" = ?
2018-02-24 20:04:58,392 INFO sqlalchemy.engine.base.Engine ('b',)

,Ticker,Date,AdjClose,Close,High,Low,Open,Volume
0,b,2000-01-03,34.724194,46.7500,48.1250,45.1875,47.9375,7698700.0
1,b,2000-01-04,33.935005,45.6875,48.5000,45.3750,45.5625,7399600.0
2,b,2000-01-05,33.192238,44.6875,45.4375,42.0000,45.0000,6607300.0
3,b,2000-01-06,30.314034,40.8125,44.0000,40.5000,43.8750,8556600.0
4,b,2000-01-07,33.749325,45.4375,45.4375,40.7500,40.9375,10617800.0

In [8]:
def setup_database(dburl, echo, num):
    engine = create_engine(dburl, echo=echo)
    Base.metadata.drop_all(engine)
    Base.metadata.create_all(engine)
    
    return engine

In [9]:
def test_flush_no_pk(n):
    """Individual INSERT statements via the ORM, calling upon last row id"""
    session = Session(bind=engine)
    for chunk in range(0, n, 1000):
        session.add_all([
            Customer(
                name='customer name %d' % i,
                description='customer description %d' % i)
            for i in range(chunk, chunk + 1000)
        ])
        session.flush()
    session.commit()