In [161]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Reload all modules imported with %aimport
%load_ext autoreload
%autoreload 1

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [162]:
import pandas as pd
idx = pd.IndexSlice

from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.linear_model import LinearRegression

from datetime import timedelta

s = '2017-11-01'
e = '2017-12-20'

%aimport trans.data
%aimport trans.gtrans
%aimport trans.reg

from trans.data import GetData as gd
from trans.gtrans import *

from trans.reg import Reg

from trans.gtrans import DataFrameFunctionTransformer 

pctTrans = DataFrameFunctionTransformer(func = lambda s: s.pct_change())
rankTrans = DataFrameFunctionTransformer(func = lambda s: s.rank(method="first"), axis=1)
pctOnlyTrans = GenSelectAttrsTransformer(['Pct'], dropSingle=False )

In [163]:
ret_df = gd.load_data("ret_df.pkl")
beta_df = gd.load_data("beta_df.pkl")
ret_and_beta_df = gd.load_data("ret_and_beta_df.pkl")

In [164]:
cols = beta_df.columns.get_level_values(0).unique().tolist()
betaCols = [ c for c in cols if re.search('^Beta', c) ]

betaCols

['Beta 0', 'Beta 1']

In [165]:
beta_r_pl = make_pipeline( GenSelectAttrsTransformer(betaCols),
                            FillNullTransformer(method="ffill"),
                            GenRenameAttrsTransformer(lambda col: col + ' rolled fwd', level=0)
                         )
beta_rolled_df = beta_r_pl.fit_transform(ret_and_beta_df)
beta_rolled_df.tail()

transform: pandas version <= 0.20.

           Beta 0 rolled fwd                                          \
                        AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-26         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-27         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-28         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-29         -0.001793 -0.000217 -0.000183  0.001072  0.000821

           Beta 1 rolled fwd
                        AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-26          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-27          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-28          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-29          1.699265  0.767625  0.859952  1.081924  0.908602

In [166]:
ret_and_beta_df.shape
beta_rolled_df.shape

ret_and_rolled_beta_pl = DataFrameConcat( [ ret_and_beta_df, beta_rolled_df])
ret_and_rolled_beta_df = ret_and_rolled_beta_pl.fit_transform( pd.DataFrame() )
ret_and_rolled_beta_df.tail()

(4536, 22)

(4536, 10)

             Adj Close                                                    \
                  AAPL         AMZN          FB         GOOG        NFLX
Dt
2017-12-22  175.009995  1168.359985  177.199997  1060.119995  189.940002
2017-12-26  170.570007  1176.760010  175.990005  1056.739990  187.759995
2017-12-27  170.600006  1182.260010  177.619995  1049.369995  186.240005
2017-12-28  171.080002  1186.099976  177.919998  1048.140015  192.710007
2017-12-29  169.229996  1169.469971  176.460007  1046.400024  191.960007

                          Beta 0                                  ...     \
                   SPY      AAPL      AMZN        FB      GOOG    ...
Dt                                                                ...
2017-12-22  267.510010       NaN       NaN       NaN       NaN    ...
2017-12-26  267.190002       NaN       NaN       NaN       NaN    ...
2017-12-27  267.320007       NaN       NaN       NaN       NaN    ...
2017-12-28  267.869995       NaN       NaN       NaN       NaN    ...
2017-12-29  266.859985 -0.001793 -0.000217 -0.000183  0.001072    ...

           Beta 1 rolled fwd                                     Pct  \
                        AMZN        FB      GOOG      NFLX      AAPL
Dt
2017-12-22          1.082630  1.164516  0.837844  2.177337  0.000000
2017-12-26          1.082630  1.164516  0.837844  2.177337 -0.025370
2017-12-27          1.082630  1.164516  0.837844  2.177337  0.000176
2017-12-28          1.082630  1.164516  0.837844  2.177337  0.002814
2017-12-29          0.767625  0.859952  1.081924  0.908602 -0.010814


                AMZN        FB      GOOG      NFLX       SPY
Dt
2017-12-22 -0.005448 -0.001409 -0.003300  0.006998 -0.000262
2017-12-26  0.007190 -0.006828 -0.003188 -0.011477 -0.001196
2017-12-27  0.004674  0.009262 -0.006974 -0.008095  0.000487
2017-12-28  0.003248  0.001689 -0.001172  0.034740  0.002057
2017-12-29 -0.014021 -0.008206 -0.001660 -0.003892 -0.003771

[5 rows x 32 columns]

In [167]:
reg = Reg(ret_and_rolled_beta_df)
reg.addConst(ret_and_rolled_beta_df,("Pct", "1"), 1)

In [168]:
gd.save_data(ret_and_rolled_beta_df, "ret_and_rolled_beta_df.pkl")

In [169]:
sensAttrs = reg.sensAttrs(ret_and_rolled_beta_df, '^Beta \d+ rolled fwd$')
sensAttrs

depTickers = reg.depTickersFromSensAttrs(ret_and_rolled_beta_df, sensAttrs )
depTickers
depCols = [ ("Pct", t) for t in depTickers ]
depCols

indCols = [ ("Pct", "1"), ("Pct", "SPY")]
indCols

['Beta 0 rolled fwd', 'Beta 1 rolled fwd']

['AAPL', 'AMZN', 'FB', 'GOOG', 'NFLX']

[('Pct', 'AAPL'),
 ('Pct', 'AMZN'),
 ('Pct', 'FB'),
 ('Pct', 'GOOG'),
 ('Pct', 'NFLX')]

[('Pct', '1'), ('Pct', 'SPY')]

In [170]:
(df_dep, list_of_ind_dfs, list_of_sens_dfs) = reg.retAttrib_setup(ret_and_rolled_beta_df, 
                                                                 indCols,
                                                                 depCols, 
                                                                 sensAttrs)

In [171]:
%aimport trans.reg
from trans.reg import *
r = reg.retAttrib_to_np(list_of_ind_dfs, df_dep, list_of_sens_dfs)
(indMat, depMat, sensMat) = r

In [172]:
depMat.shape
indMat.shape
sensMat.shape

(4536, 5)

(2, 4536, 1)

(2, 4536, 5)

In [173]:
%aimport trans.reg
from trans.reg import *
(contribsMat, predMat, errMat) = reg.retAttrib_np(indMat, depMat, sensMat)

In [174]:
contribsMat.shape
predMat.shape
errMat.shape

(2, 4536, 5)

(4536, 5)

(4536, 5)

In [175]:
 (list_of_contribs_dfs, predict_df, err_df) = reg.retAttrib_to_df(contribsMat, 
                                                                  predMat, 
                                                                  errMat,
                                                                  ret_and_rolled_beta_df.index,
                                                                  sensAttrs,
                                                                  depTickers
                                                                )

In [176]:
len(list_of_contribs_dfs)
list_of_contribs_dfs[0].shape
predict_df.shape
err_df.shape

2

(4536, 5)

(4536, 5)

(4536, 5)

In [177]:
ret_and_rolled_beta_df.loc[:, idx["Pct",:]].tail()
list_of_contribs_dfs[0].tail()
predict_df.tail()
err_df.tail()

                 Pct
                AAPL      AMZN        FB      GOOG      NFLX       SPY  1
Dt
2017-12-22  0.000000 -0.005448 -0.001409 -0.003300  0.006998 -0.000262  1
2017-12-26 -0.025370  0.007190 -0.006828 -0.003188 -0.011477 -0.001196  1
2017-12-27  0.000176  0.004674  0.009262 -0.006974 -0.008095  0.000487  1
2017-12-28  0.002814  0.003248  0.001689 -0.001172  0.034740  0.002057  1
2017-12-29 -0.010814 -0.014021 -0.008206 -0.001660 -0.003892 -0.003771  1

                AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22 -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-26 -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-27 -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-28 -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-29 -0.001793 -0.000217 -0.000183  0.001072  0.000821

                AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22 -0.002187  0.000815 -0.002793 -0.002344 -0.006668
2017-12-26 -0.003439 -0.000197 -0.003881 -0.003128 -0.008703
2017-12-27 -0.001185  0.001624 -0.001922 -0.001718 -0.005039
2017-12-28  0.000918  0.003325 -0.000092 -0.000401 -0.001619
2017-12-29 -0.008200 -0.003111 -0.003426 -0.003007 -0.002605

                AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22  0.002187 -0.006262  0.001384 -0.000956  0.013666
2017-12-26 -0.021931  0.007387 -0.002947 -0.000061 -0.002774
2017-12-27  0.001361  0.003049  0.011183 -0.005257 -0.003056
2017-12-28  0.001896 -0.000077  0.001781 -0.000771  0.036359
2017-12-29 -0.002614 -0.010909 -0.004780  0.001347 -0.001287

In [178]:
indTickers = [ col[1] for col in indCols ]
contrib_k = [ "Contrib from " + indTickers[i] for i in range( len(list_of_contribs_dfs ))]


# contrib_k + [ pred_k ] + [ err_k ]
regResTrans = DataFrameConcat( list_of_contribs_dfs + [ predict_df ] + [ err_df ],
                               df_keys= contrib_k + [ "Predicted" ]  + ["Error"]
                             )
regRes_df = regResTrans.fit_transform(pd.DataFrame())

In [179]:
regRes_df.shape
regRes_df.columns.get_level_values(0).unique()
regRes_df.columns.get_level_values(1).unique()
regRes_df.tail()

(4536, 20)

Index(['Contrib from 1', 'Contrib from SPY', 'Predicted', 'Error'], dtype='object')

Index(['AAPL', 'AMZN', 'FB', 'GOOG', 'NFLX'], dtype='object')

           Contrib from 1                                          \
                     AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22      -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-26      -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-27      -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-28      -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-29      -0.001793 -0.000217 -0.000183  0.001072  0.000821

           Contrib from SPY                                         Predicted  \
                       AAPL      AMZN        FB      GOOG      NFLX      AAPL
Dt
2017-12-22        -0.000350 -0.000283 -0.000305 -0.000219 -0.000569 -0.002187
2017-12-26        -0.001602 -0.001295 -0.001393 -0.001002 -0.002605 -0.003439
2017-12-27         0.000652  0.000527  0.000567  0.000408  0.001059 -0.001185
2017-12-28         0.002755  0.002227  0.002396  0.001724  0.004480  0.000918
2017-12-29        -0.006407 -0.002894 -0.003242 -0.004079 -0.003426 -0.008200

                                                       Error            \
                AMZN        FB      GOOG      NFLX      AAPL      AMZN
Dt
2017-12-22  0.000815 -0.002793 -0.002344 -0.006668  0.002187 -0.006262
2017-12-26 -0.000197 -0.003881 -0.003128 -0.008703 -0.021931  0.007387
2017-12-27  0.001624 -0.001922 -0.001718 -0.005039  0.001361  0.003049
2017-12-28  0.003325 -0.000092 -0.000401 -0.001619  0.001896 -0.000077
2017-12-29 -0.003111 -0.003426 -0.003007 -0.002605 -0.002614 -0.010909


                  FB      GOOG      NFLX
Dt
2017-12-22  0.001384 -0.000956  0.013666
2017-12-26 -0.002947 -0.000061 -0.002774
2017-12-27  0.011183 -0.005257 -0.003056
2017-12-28  0.001781 -0.000771  0.036359
2017-12-29 -0.004780  0.001347 -0.001287

In [180]:
from trans.reg import *
reg_df =reg.retAttrib(ret_and_rolled_beta_df, 
            indCols,
            depCols, 
            sensAttrs)

reg_df.tail()

           Contrib from 1                                          \
                     AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22      -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-26      -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-27      -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-28      -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-29      -0.001793 -0.000217 -0.000183  0.001072  0.000821

           Contrib from SPY                                         Predicted  \
                       AAPL      AMZN        FB      GOOG      NFLX      AAPL
Dt
2017-12-22        -0.000350 -0.000283 -0.000305 -0.000219 -0.000569 -0.002187
2017-12-26        -0.001602 -0.001295 -0.001393 -0.001002 -0.002605 -0.003439
2017-12-27         0.000652  0.000527  0.000567  0.000408  0.001059 -0.001185
2017-12-28         0.002755  0.002227  0.002396  0.001724  0.004480  0.000918
2017-12-29        -0.006407 -0.002894 -0.003242 -0.004079 -0.003426 -0.008200

                                                       Error            \
                AMZN        FB      GOOG      NFLX      AAPL      AMZN
Dt
2017-12-22  0.000815 -0.002793 -0.002344 -0.006668  0.002187 -0.006262
2017-12-26 -0.000197 -0.003881 -0.003128 -0.008703 -0.021931  0.007387
2017-12-27  0.001624 -0.001922 -0.001718 -0.005039  0.001361  0.003049
2017-12-28  0.003325 -0.000092 -0.000401 -0.001619  0.001896 -0.000077
2017-12-29 -0.003111 -0.003426 -0.003007 -0.002605 -0.002614 -0.010909


                  FB      GOOG      NFLX
Dt
2017-12-22  0.001384 -0.000956  0.013666
2017-12-26 -0.002947 -0.000061 -0.002774
2017-12-27  0.011183 -0.005257 -0.003056
2017-12-28  0.001781 -0.000771  0.036359
2017-12-29 -0.004780  0.001347 -0.001287