In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Reload all modules imported with %aimport
%load_ext autoreload
%autoreload 1

In [2]:
%aimport trans.data
%aimport trans.gtrans
%aimport trans.reg
%aimport trans.date_manip


import pandas as pd
idx = pd.IndexSlice

from trans.data import GetData
from trans.gtrans import *
from trans.reg import Reg
import datetime as dt
import dateutil.parser as dup
import datedelta

from trans.date_manip import Date_Manipulator

gd = GetData()

In [15]:
# df = gd.load_data("ret_and_beta_df.pkl")
ret_df = gd.load_data("ret_and_rolled_beta_df.pkl")
ret_df.shape
ret_df.tail()

(4536, 33)

             Adj Close                                                    \
                  AAPL         AMZN          FB         GOOG        NFLX
Dt
2017-12-22  175.009995  1168.359985  177.199997  1060.119995  189.940002
2017-12-26  170.570007  1176.760010  175.990005  1056.739990  187.759995
2017-12-27  170.600006  1182.260010  177.619995  1049.369995  186.240005
2017-12-28  171.080002  1186.099976  177.919998  1048.140015  192.710007
2017-12-29  169.229996  1169.469971  176.460007  1046.400024  191.960007

                          Beta 0                               ...  \
                   SPY      AAPL      AMZN        FB      GOOG ...
Dt                                                             ...
2017-12-22  267.510010       NaN       NaN       NaN       NaN ...
2017-12-26  267.190002       NaN       NaN       NaN       NaN ...
2017-12-27  267.320007       NaN       NaN       NaN       NaN ...
2017-12-28  267.869995       NaN       NaN       NaN       NaN ...
2017-12-29  266.859985 -0.001793 -0.000217 -0.000183  0.001072 ...

           Beta 1 rolled fwd                           Pct            \
                          FB      GOOG      NFLX      AAPL      AMZN
Dt
2017-12-22          1.164516  0.837844  2.177337  0.000000 -0.005448
2017-12-26          1.164516  0.837844  2.177337 -0.025370  0.007190
2017-12-27          1.164516  0.837844  2.177337  0.000176  0.004674
2017-12-28          1.164516  0.837844  2.177337  0.002814  0.003248
2017-12-29          0.859952  1.081924  0.908602 -0.010814 -0.014021


                  FB      GOOG      NFLX       SPY  1
Dt
2017-12-22 -0.001409 -0.003300  0.006998 -0.000262  1
2017-12-26 -0.006828 -0.003188 -0.011477 -0.001196  1
2017-12-27  0.009262 -0.006974 -0.008095  0.000487  1
2017-12-28  0.001689 -0.001172  0.034740  0.002057  1
2017-12-29 -0.008206 -0.001660 -0.003892 -0.003771  1

[5 rows x 33 columns]

In [16]:
i = ret_df.index
i.min()
i.max()

Timestamp('2000-01-03 00:00:00')

Timestamp('2017-12-29 00:00:00')

In [17]:
from trans.date_manip import Date_Manipulator
dm = Date_Manipulator( ret_df.index )
monthly = dm.periodic( dup.parse("01/01/2018"), datedelta.datedelta(months=1) )

end_of_monthly =  dm.periodic_end_of_month( dup.parse("12/15/2017"))
end_of_monthly[-10:]

End 2017-12-15 00:00:00, last 2017-12-31 00:00:00

[datetime.datetime(2017, 3, 31, 0, 0),
 datetime.datetime(2017, 4, 30, 0, 0),
 datetime.datetime(2017, 5, 31, 0, 0),
 datetime.datetime(2017, 6, 30, 0, 0),
 datetime.datetime(2017, 7, 31, 0, 0),
 datetime.datetime(2017, 8, 31, 0, 0),
 datetime.datetime(2017, 9, 30, 0, 0),
 datetime.datetime(2017, 10, 31, 0, 0),
 datetime.datetime(2017, 11, 30, 0, 0),
 datetime.datetime(2017, 12, 31, 0, 0)]

In [6]:
eom_in_idx = dm.periodic_in_idx_end_of_month( dup.parse("12/15/2017"))
eom_in_idx[-10:]

End 2017-12-15 00:00:00, last 2017-12-31 00:00:00

[Timestamp('2017-02-28 00:00:00'),
 Timestamp('2017-03-31 00:00:00'),
 Timestamp('2017-04-28 00:00:00'),
 Timestamp('2017-05-31 00:00:00'),
 Timestamp('2017-06-30 00:00:00'),
 Timestamp('2017-07-31 00:00:00'),
 Timestamp('2017-08-31 00:00:00'),
 Timestamp('2017-09-29 00:00:00'),
 Timestamp('2017-10-31 00:00:00'),
 Timestamp('2017-11-30 00:00:00')]

In [7]:
month_r = dm.range_in_index( eom_in_idx)
month_r[-10:]

[(Timestamp('2017-02-01 00:00:00'), Timestamp('2017-02-28 00:00:00')),
 (Timestamp('2017-03-01 00:00:00'), Timestamp('2017-03-31 00:00:00')),
 (Timestamp('2017-04-03 00:00:00'), Timestamp('2017-04-28 00:00:00')),
 (Timestamp('2017-05-01 00:00:00'), Timestamp('2017-05-31 00:00:00')),
 (Timestamp('2017-06-01 00:00:00'), Timestamp('2017-06-30 00:00:00')),
 (Timestamp('2017-07-03 00:00:00'), Timestamp('2017-07-31 00:00:00')),
 (Timestamp('2017-08-01 00:00:00'), Timestamp('2017-08-31 00:00:00')),
 (Timestamp('2017-09-01 00:00:00'), Timestamp('2017-09-29 00:00:00')),
 (Timestamp('2017-10-02 00:00:00'), Timestamp('2017-10-31 00:00:00')),
 (Timestamp('2017-11-01 00:00:00'), Timestamp('2017-11-30 00:00:00'))]

In [19]:


ret_df.loc[ eom_in_idx,:].shape

(215, 33)

## Add Monthly Pct return by
### feeding in df at monthly frequency (end-of-month)

In [20]:
monthly_ret_attr = "Monthly Pct"

pipe_close = make_pipeline(GenSelectAttrsTransformer(['Adj Close'], dropSingle=True )
                      )   

pipe_pct = make_pipeline(GenSelectAttrsTransformer(['Adj Close']), 
                         pctTrans,
                         GenRenameAttrsTransformer(lambda col:monthly_ret_attr, level=0)
                        )

monthly_ret_df = pipe_pct.fit_transform( ret_df.loc[ eom_in_idx,: ])
monthly_ret_df.tail()

transform: pandas version <= 0.20.

           Monthly Pct
                  AAPL      AMZN        FB      GOOG      NFLX       SPY
Dt
2017-07-31    0.032704  0.020434  0.121009  0.023957  0.215849  0.020554
2017-08-31    0.106999 -0.007269  0.016071  0.009490 -0.038258  0.002918
2017-09-29   -0.060244 -0.019631 -0.006396  0.021058  0.038006  0.020149
2017-10-31    0.096808  0.149717  0.053784  0.059983  0.083154  0.023564
2017-11-30    0.020278  0.064662 -0.015995  0.004692 -0.045054  0.030566

## Rank the monthly returns
### Eliminate the non-universe tickers (SPY) from ranking

In [10]:
univ_cols = [ (monthly_ret_attr, t) for t in ["FB", "AAPL", "AMZN", "NFLX", "GOOG"] ]
univ_cols

[('Monthly Pct', 'FB'),
 ('Monthly Pct', 'AAPL'),
 ('Monthly Pct', 'AMZN'),
 ('Monthly Pct', 'NFLX'),
 ('Monthly Pct', 'GOOG')]

In [11]:
rank_pl = make_pipeline( # GenSelectAttrsTransformer(univ_cols),
                        SelectColumnsTransformer(univ_cols),
                        rankTrans,
                        GenRenameAttrsTransformer(lambda col: col + ' rank', level=0)
                       )
rank_df = rank_pl.fit_transform( monthly_ret_df )
rank_df.tail()

transform: pandas version <= 0.20.

           Monthly Pct rank
                         FB AAPL AMZN NFLX GOOG
Dt
2017-07-31              4.0  3.0  1.0  5.0  2.0
2017-08-31              4.0  5.0  2.0  1.0  3.0
2017-09-29              3.0  1.0  2.0  5.0  4.0
2017-10-31              1.0  4.0  5.0  3.0  2.0
2017-11-30              2.0  4.0  5.0  1.0  3.0

## Add rank to df

In [30]:
ret_and_rank_pl = DataFrameConcat( [ monthly_ret_df, rank_df])
ret_and_rank_df = ret_and_rank_pl.fit_transform( pd.DataFrame() )
ret_and_rank_df.tail()

           Monthly Pct                                                    \
                  AAPL      AMZN        FB      GOOG      NFLX       SPY
Dt
2017-07-31    0.032704  0.020434  0.121009  0.023957  0.215849  0.020554
2017-08-31    0.106999 -0.007269  0.016071  0.009490 -0.038258  0.002918
2017-09-29   -0.060244 -0.019631 -0.006396  0.021058  0.038006  0.020149
2017-10-31    0.096808  0.149717  0.053784  0.059983  0.083154  0.023564
2017-11-30    0.020278  0.064662 -0.015995  0.004692 -0.045054  0.030566

           Monthly Pct rank
                       AAPL AMZN   FB GOOG NFLX
Dt
2017-07-31              3.0  1.0  4.0  2.0  5.0
2017-08-31              5.0  2.0  4.0  3.0  1.0
2017-09-29              1.0  2.0  3.0  4.0  5.0
2017-10-31              4.0  5.0  1.0  2.0  3.0
2017-11-30              4.0  5.0  2.0  3.0  1.0

## Shift the monthly returns fwd, as they are used for following month selection

In [34]:
fwd_pl = make_pipeline( 
                        ShiftTransformer(1),
                        GenRenameAttrsTransformer(lambda col: col + ' rolled fwd', level=0)
                         )
monthly_ret_rolled_df = fwd_pl.fit_transform(ret_and_rank_df)
monthly_ret_rolled_df.tail()

transform: pandas version <= 0.20.

           Monthly Pct rolled fwd                                          \
                             AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-07-31              -0.057214 -0.026764 -0.003169 -0.058174 -0.083768
2017-08-31               0.032704  0.020434  0.121009  0.023957  0.215849
2017-09-29               0.106999 -0.007269  0.016071  0.009490 -0.038258
2017-10-31              -0.060244 -0.019631 -0.006396  0.021058  0.038006
2017-11-30               0.096808  0.149717  0.053784  0.059983  0.083154

                     Monthly Pct rank rolled fwd
                 SPY                        AAPL AMZN   FB GOOG NFLX
Dt
2017-07-31  0.006375                         3.0  4.0  5.0  2.0  1.0
2017-08-31  0.020554                         3.0  1.0  4.0  2.0  5.0
2017-09-29  0.002918                         5.0  2.0  4.0  3.0  1.0
2017-10-31  0.020149                         1.0  2.0  3.0  4.0  5.0
2017-11-30  0.023564                         4.0  5.0  1.0  2.0  3.0

In [21]:
monthly_ret_and_rolled_ret_pl = DataFrameConcat( [ monthly_ret_df, monthly_ret_rolled_df])
monthly_ret_and_rolled_ret_df = ret_and_rolled_ret_pl.fit_transform( pd.DataFrame() )
monthly_ret_and_rolled_ret_df.tail()

           Monthly Pct                                                    \
                  AAPL      AMZN        FB      GOOG      NFLX       SPY
Dt
2017-07-31    0.032704  0.020434  0.121009  0.023957  0.215849  0.020554
2017-08-31    0.106999 -0.007269  0.016071  0.009490 -0.038258  0.002918
2017-09-29   -0.060244 -0.019631 -0.006396  0.021058  0.038006  0.020149
2017-10-31    0.096808  0.149717  0.053784  0.059983  0.083154  0.023564
2017-11-30    0.020278  0.064662 -0.015995  0.004692 -0.045054  0.030566

           Monthly Pct rank rolled fwd                      \
                                  AAPL AMZN   FB GOOG NFLX
Dt
2017-07-31                         3.0  4.0  5.0  2.0  1.0
2017-08-31                         3.0  1.0  4.0  2.0  5.0
2017-09-29                         5.0  2.0  4.0  3.0  1.0
2017-10-31                         1.0  2.0  3.0  4.0  5.0
2017-11-30                         4.0  5.0  1.0  2.0  3.0

           Monthly Pct rolled fwd                                          \
                             AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-07-31              -0.057214 -0.026764 -0.003169 -0.058174 -0.083768
2017-08-31               0.032704  0.020434  0.121009  0.023957  0.215849
2017-09-29               0.106999 -0.007269  0.016071  0.009490 -0.038258
2017-10-31              -0.060244 -0.019631 -0.006396  0.021058  0.038006
2017-11-30               0.096808  0.149717  0.053784  0.059983  0.083154


                 SPY
Dt
2017-07-31  0.006375
2017-08-31  0.020554
2017-09-29  0.002918
2017-10-31  0.020149
2017-11-30  0.023564

## Join the monthly ranks to the daily series

In [44]:
ret_and_rank_pl = DataFrameConcat( [ ret_df, monthly_ret_and_rolled_ret_df])
ret_and_rank_df = ret_and_rank_pl.fit_transform( pd.DataFrame())
ret_and_rank_df.loc[ "11/25/2017":"12/01/2017"]

             Adj Close                                                    \
                  AAPL         AMZN          FB         GOOG        NFLX
Dt
2017-11-27  174.089996  1195.829956  183.029999  1054.209961  195.050003
2017-11-28  173.070007  1193.599976  182.419998  1047.410034  199.179993
2017-11-29  169.479996  1161.270020  175.130005  1021.659973  188.149994
2017-11-30  171.850006  1176.750000  177.179993  1021.409973  187.580002
2017-12-01  171.050003  1162.349976  175.100006  1010.169983  186.820007

                          Beta 0                                  ...     \
                   SPY      AAPL      AMZN        FB      GOOG    ...
Dt                                                                ...
2017-11-27  258.906616       NaN       NaN       NaN       NaN    ...
2017-11-28  261.533173       NaN       NaN       NaN       NaN    ...
2017-11-29  261.373993       NaN       NaN       NaN       NaN    ...
2017-11-30  263.662323       NaN       NaN       NaN       NaN    ...
2017-12-01  263.115082 -0.001837  0.001098 -0.002488 -0.002125    ...

           Monthly Pct rolled fwd                     Pct                      \
                             GOOG      NFLX       SPY   1      AAPL      AMZN
Dt
2017-11-27                    NaN       NaN       NaN   1 -0.005029  0.008288
2017-11-28                    NaN       NaN       NaN   1 -0.005859 -0.001865
2017-11-29                    NaN       NaN       NaN   1 -0.020743 -0.027086
2017-11-30               0.059983  0.083154  0.023564   1  0.013984  0.013330
2017-12-01                    NaN       NaN       NaN   1 -0.004655 -0.012237


                  FB      GOOG      NFLX       SPY
Dt
2017-11-27  0.001368  0.013069 -0.003576 -0.000499
2017-11-28 -0.003333 -0.006450  0.021174  0.010145
2017-11-29 -0.039963 -0.024585 -0.055377 -0.000609
2017-11-30  0.011706 -0.000245 -0.003029  0.008755
2017-12-01 -0.011739 -0.011004 -0.004052 -0.002076

[5 rows x 50 columns]

## Roll the monthly ranks/returns backwards
### They were computed at end of previous month, pushed forward one month
### so they apply for the entirety of the month on which their month-end is date
### (hence, roll backward to each day)

In [48]:

ret_and_rank_attrs = ret_and_rank_df.columns.get_level_values(0).unique().tolist()

pat = "^Monthly Pct .*rolled fwd$"
monthly_attrs = [ attr for attr in ret_and_rank_attrs if re.search(pat, attr) ]
monthly_attrs

['Monthly Pct rank rolled fwd', 'Monthly Pct rolled fwd']

In [53]:
dfwd_pl = make_pipeline(GenSelectAttrsTransformer(monthly_attrs),
                        FillNullTransformer(method="bfill"),
                        GenRenameAttrsTransformer(lambda col: col + ' rolled fwd/back', level=0)
                         )
monthly_ret_rolled_df = dfwd_pl.fit_transform(ret_and_rank_df)
monthly_ret_rolled_df.loc[ "11/25/2017":"12/01/2017"]

transform: pandas version <= 0.20.

           Monthly Pct rank rolled fwd rolled fwd/back                      \
                                                  AAPL AMZN   FB GOOG NFLX
Dt
2017-11-27                                         4.0  5.0  1.0  2.0  3.0
2017-11-28                                         4.0  5.0  1.0  2.0  3.0
2017-11-29                                         4.0  5.0  1.0  2.0  3.0
2017-11-30                                         4.0  5.0  1.0  2.0  3.0
2017-12-01                                         NaN  NaN  NaN  NaN  NaN

           Monthly Pct rolled fwd rolled fwd/back                      \
                                             AAPL      AMZN        FB
Dt
2017-11-27                               0.096808  0.149717  0.053784
2017-11-28                               0.096808  0.149717  0.053784
2017-11-29                               0.096808  0.149717  0.053784
2017-11-30                               0.096808  0.149717  0.053784
2017-12-01                                    NaN       NaN       NaN


                GOOG      NFLX       SPY
Dt
2017-11-27  0.059983  0.083154  0.023564
2017-11-28  0.059983  0.083154  0.023564
2017-11-29  0.059983  0.083154  0.023564
2017-11-30  0.059983  0.083154  0.023564
2017-12-01       NaN       NaN       NaN